<div class="cardspace">
  <div class="owl-carousel owl-theme owl-doctor-list">
    <% for(let i = 0 ; i < ourExperts.length; i++) { %>
    <div class="item">
      <div class="m-1 mb-5 card">
        <img src="/uploads/<%=ourExperts[i].propicURL%>" class="card-img-top" />
        <div class="card-body" style="height: 300px; overflow: hidden;">
          <h5 class="card-title">
            <p class="cardName" id="<%= ourExperts[i]._id %>" style="cursor: pointer;">
              <%=ourExperts[i].name%>
            </p>
            <p class="cardDegree">
              <%=ourExperts[i].designation%>
            </p>
          </h5>
          <p class="card-text mb-3" style="line-height: 1.6; overflow: hidden;">
            <%=ourExperts[i].aboutYourself%>
          </p>
          <p class="icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google-plus"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<script>

  $('p.cardName').click(e => location = `/services/doctor/profile/expert/${e.target.id}`)

</script>