<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>

    <link rel="stylesheet" href="/css/admin.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="adminTest" style="min-height: 100vh; background: #ebebeb;">
      <header>
        <nav>
          <%- include('./partials/adminNavbar')%>
        </nav>
        <div class="blueDivider">
          <div class="smallText">
            <p><a href="#">Admin Panel</a> / Services</p>
          </div>
          <div class="bigText">
            <p>Mental Health and Wellbeing Assessment</p>
          </div>
        </div>
      </header>
      <div class="twoBigSectionFlex">
        <div class="eachBigSection">
          <div class="imageee py-2 pb-4">
            <img src="/images/adminTest.jpg" alt="" />
          </div>
          <div class="addNewTestBtn">
            <button onclick="go()">Add New Test</button>
          </div>
        </div>
        <div class="eachBigSection">
          <div class="container">
            <section class="healthAllTest p-1">
              <div class="healthTest__heading text-center">
                <h1>Mental Health Test</h1>
              </div>
              <div class="healthTest__add_test text-right"></div>
              <div class="healthTest__searching px-3">
                  <div class="inputbox">
                    <div class="form-selectpicker">
                      <select
                        class="selectpicker"
                        data-width="100%"
                        title="Select Disorder"
                        name="disorder"
                        id="disorderInput"
                        data-size="6"
                      >
                        <option value="x">x</option>
                        <option value="x">x</option>
                        <option value="x">x</option>
                      </select>
                    </div>
                  </div>
                  <div class="inputbox">
                    <div class="form-selectpicker">
                      <select
                        class="selectpicker"
                        data-width="100%"
                        title="Select Test"
                        name="test"
                        id="testInput"
                        data-size="6"
                      >
                        <option value="x">x</option>
                        <option value="x">x</option>
                        <option value="x">x</option>
                      </select>
                    </div>
                  </div>
                  <div class="inputbox">
                    <div class="form-selectpicker">
                      <select
                        class="selectpicker"
                        data-width="100%"
                        title="Paid or not"
                        name="paidOrNot"
                        id="paidInput"
                        data-size="6"
                      >
                        <option value="x">x</option>
                        <option value="x">x</option>
                        <option value="x">x</option>
                      </select>
                    </div>
                  </div>
                  <div class="inputbox">
                    <button type="submit" class="btn btn-success">
                      Search
                    </button>
                  </div>
                </div>
              </div>
              <div class="healthTest_allDisorders py-5">
                <div class="eachDisorder py-3">
                  <div class="eachDisorder_heading">
                    <h6>Depression</h6>
                  </div>
                  <div class="eachDisorder_eachTest">
                    <% for(let j = 0 ; j < 10; j++) { %>
                    <a href="#" style="text-decoration: underline;">
                      test<%= j+1 %> </a
                    >, <% } %>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer')%>
  </body>
  <%- include('./partials/vendorsBottom')%>
  <script>
    function go() {
      location = '/admin/test/new';
    }
  </script>
</html>
