<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/all-workshops.css" />

    <title>
        Workshops | Telepsychiatry Research
    </title>
</head>

<body>
    <section class="wrapper">
        <nav>
            <%- include('./partials/adminNavbar')%>
        </nav>
        <div class="assessment_wrapper">
            <div class="blueDivider">
                <div class="smallText">
                    <p><a href="#">Admin</a> / Workshops</p>
                </div>
                <div class="bigText">
                    <p>Workshops</p>
                </div>
            </div>

            <div class="twoBigSectionFlex">
                <div class="eachBigSection">
                    <div class="searchFilter">
                        <p>Search Filter</p>
                    </div>
                    <form action="#" id="search-form">
                        <div class="searchFields">
                            <div class="sField">
                                <div class="input-group">
                                    <input type="text" required class="form-control py-4" id="search-input"
                                        name="search" placeholder="Search Researches (With any keywords)" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" id="" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="cat">
                                <div class="cat_heading">
                                    <p>Workshop Stage</p>
                                </div>
                                <div class="catOptions">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck"
                                            name="rStage" value="current" aria-selected="true" />
                                        <label class="custom-control-label" for="customCheck">Current
                                        </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckw"
                                            name="rStage" value="past" />
                                        <label class="custom-control-label" for="customCheckw">
                                            Past
                                        </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckc"
                                            name="rStage" value="upcoming" />
                                        <label class="custom-control-label" for="customCheckc">
                                            Upcoming
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="findDocBtn">
                                <button id="search-btn">Search</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="eachBigSection">
                    <div class="bigHeading">
                        <p>Workshops - Admin Panel</p>
                    </div>
                    <div class="submitResource mb-3" id="submitResource">
                        <button>Add New Workshop</button>
                    </div>
                    <div class="all_resources">
                        <div class="alert alert-success" id="alert" role="alert" style="display: none">
                            Priority updated.
                        </div>
                        <% for(let i = 0 ; i < data.length; i++) { %>
                        <div class="each-resources">
                            <div class="image">
                                <img src="/workshop/<%=data[i].image%>" alt="">
                            </div>
                            <div class="texts">
                                <div class="title">
                                    <%= data[i].title %>
                                </div>
                                <div class="single-row">
                                    <label for="priority<%=data[i]._id%>">Priority: </label>
                                    <input type="number" id="priority<%=data[i]._id%>" class="form-control" aria-label="Priority level" value="<%=data[i].priority%>"/>
                                    <button type="button" id="priorityBtn<%=data[i]._id%>" data-id="<%=data[i]._id%>" class="set-priority-btn">SET</button>
                                </div>
                                <div class="body">                                    
                                    <%- data[i].description %>
                                </div>
                                <div class="last-row">
                                    <div class="add-info">
                                        <div class="add-child"><i class="fa fa-map-marker"></i> <%= data[i].location %>
                                        </div>
                                        <div class="add-child"> <i class="fa fa-clock-o"></i>
                                            <%= data[i].schedule.startTime %> to
                                            <%= data[i].schedule.startTime %></div>
                                        <div class="add-child"> <i class="fa fa-table"></i>
                                            <%= data[i].schedule.startDate %> to
                                            <%= data[i].schedule.endDate %></div>
                                    </div>
                                    <div class="btn-flex">
                                        <button class="view-btn" id="<%= data[i]._id %>">View Details</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/bookAppointment') %>
    <%-
    include('./partials/footer')%>
</body>
<%- include('./partials/vendorsBottom')%>
<script>
    $('.view-btn').click((e) => {
        const id = e.target.id;
        location = '/admin/workshop/' + id;
    });
    $('#submitResource').click((e) => {
        location = '/admin/workshop/new';
    });
    $('.search-btn').click((e) => {
        $('#form').submit();
    });
    $('input[name="rStage"]').click((e) => {
        const stage = $(e.target).val();
        console.log(stage);
        location = `/admin/workshop?type=${stage}`;
    });
    $('#search-btn').click((e) => {
        const phrase = $('#search-input').val();
        console.log(`/admin/workshop?search=${phrase}`);
        location = `/admin/workshop?search=${phrase}`;
    });

    $('.set-priority-btn').on("click", function (e) {
            e.preventDefault()
            // const id = e.target.id
            let id = $(e.target).data('id')
            console.log({id})

            const priority = $(`#priority${id}`).val()
            $.post(
                '/admin/management/workshop-priorities',
                { id, priority },
                res => {
                    if (res.success) {
                        $('#alert').show()
                        setTimeout(() => {
                            $('#alert').hide()
                        }, 3000);
                    }
                }
            )
        })
</script>

</html>