<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/vendorsTop')%>
        <link rel="stylesheet" href="/css/newResearches.css" />

        <title>
            Complete Innovations | Telepsychiatry Research
        </title>
</head>

<body>
    <section class="wrapper">
        <nav>
            <%- include('./partials/navbar')%>
        </nav>
        <div class="assessment_wrapper">
            <div class="blueDivider">
                <div class="smallText">
                    <p><a href="#">Innovations</a> / Complete</p>
                </div>
                <div class="bigText">
                    <p>Complete Innovations</p>
                </div>
            </div>

            <div class="twoBigSectionFlex">
                <div class="eachBigSection">
                    <div class="searchFilter">
                        <p>Search Filter</p>
                    </div>
                    <form action="#" id="search-form">
                        <div class="searchFields">
                            <div class="sField">
                                <div class="input-group">
                                    <input type="text" required class="form-control py-4" id="search-input" name="searchInput" placeholder="Search Researches (With any keywords)" />
                                    <input type="hidden" name="type" value="completed" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" id="" type="submit" disabled>
                        <i class="fa fa-search"></i>
                      </button>
                                    </div>
                                </div>
                            </div>
                            <div class="cat">
                                <div class="cat_heading">
                                    <p>Innovation Stage</p>
                                </div>
                                <div class="catOptions">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="rStage" value="ongoingResearches" aria-selected="true" />
                                        <label class="custom-control-label" for="customCheck">Ongoing Innovations
                      </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheckw" name="rStage" value="completedResearches" />
                                        <label class="custom-control-label" for="customCheckw">
                        Completed Innovations
                      </label>
                                    </div>
                                </div>
                            </div>
                            <div class="findDocBtn">
                                <button id="search-btn">Search</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="eachBigSection">
                    <div class="bigHeading">
                        <p>Complete Innovation</p>
                    </div>
                    <div class="submitResource" id="submitResource">
                        <button>Submit Innovation</button>
                    </div>

                    <div class="all_resources">
                        <% if (successMessage != '') { %>
                            <div class="alert alert-success text-center">
                                <p>
                                    <%= successMessage %>
                                </p>
                            </div>
                            <% } %>
                                <% for(let i = 0 ; i < data.length; i++) { %>
                                    <div class="each_resources">
                                        <div class="flx-prnt">
                                            <div class="flx-chld">
                                                <div class="each_resources_img">
                                                    <img src="/innovation/<%= data[i].file %>" id="<%= data[i]._id %>" alt="image" class="goToDetailsPage" />
                                                </div>
                                            </div>
                                            <div class="flx-chld">
                                                <div class="each_resources_heading">
                                                    <h4 class="goToDetailsPage" id="<%= data[i]._id %>">
                                                        <%= data[i].title %>
                                                    </h4>
                                                </div>
                                                <div class="each_resources_desc">
                                                    <p>
                                                        <%- data[i].description %>
                                                    </p>
                                                </div>
                                                <div class="each_resources_btn">
                                                    <button class="goToDetailsPage" id="<%= data[i]._id %>">
                        READ MORE
                      </button>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/bookAppointment') %>
        <%-
    include('./partials/footer')%>
</body>
<%- include('./partials/vendorsBottom')%>
    <script>
        $('.goToDetailsPage').click((e) => {
            const id = e.target.id;
            location = '/innovations/' + id;
        });
        $('#submitResource').click((e) => {
            location = '/innovations/new';
        });
        $('.search-btn').click((e) => {
            $('#form').submit();
        });
        $('#customCheck').click((e) => {
            console.log('wrong?');
            location = '/innovations?stage=ongoing';
        });
        $('#customCheckw').click((e) => {
            console.log('wrong?');
            location = '/innovations?stage=completed';
        });
    </script>

</html>