<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/vendorsTop')%>
        <link rel="stylesheet" href="/css/resources.css" />
        <title>Ongoing Researches | Telepsychiatry Research</title>
</head>

<body>
    <section class="wrapper">
        <nav>
            <%- include('./partials/navbar') %>
        </nav>
        <div class="my-3 divider"></div>

        <div class="addResource container my-5">
            <div class="resourcesHeading">
                <p>Ongoing Researches</p>
            </div>
            <div class="submitResources">
                <button>Submit Researches</button>
            </div>
        </div>

        <div class="searching">
            <form action="/researches" method="GET">
                <div class="searchbox">
                    <% if(search) { %>
                        <input type="text" name="search" value="<%=search%>" required />
                        <% } else { %>
                            <input type="text" name="search" required />
                            <% } %>
                </div>
                <div class="searchBtn">
                    <input type="submit" value="search" />
                </div>
            </form>
        </div>

        <div class="allResources container">
            <% for(let i = 0 ; i < researches.length; i++) { %>
                <a href="/researches/<%= researches[i]._id %>">
                    <div class="m-1 mb-5 eachCard" data-aos="zoom-in-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
                        <img src="/images/res1.jpg" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title researchTitle">
                                <%= researches[i].title %>
                            </h5>
                            <p class="card-text">
                                <%- researches[i].description %>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </section>

    <%- include('./partials/footer')%>
</body>
<%- include('./partials/vendorsBottom')%>
    <script>
        $('.submitResources').on('click', (e) => {
            window.location = '/researches/new';
        });
    </script>

</html>