<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/ourDoctors.css" />

    <title>
      Our Doctors | Telepsychiatry Research
    </title>
  </head>

  <body>
    <section class="wrapper">
      <nav>
        <%- include('./partials/navbar')%>
      </nav>
      <div class="assessment_wrapper">
        <div class="blueDivider">
          <div class="smallText">
            <p><a href="#">Clinical Services</a> / Psychiatric consultations</p>
          </div>
          <div class="bigText">
            <p>Our Professional Consultants</p>
          </div>
        </div>

        <div class="twoBigSectionFlex">
          <div class="eachBigSection">
            <div class="searchFilter">
              <p>Search Filter</p>
            </div>
            <div class="searchFields">
              <div class="sField">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control py-4"
                    placeholder="Search doctors"
                  />
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="cat">
                <div class="cat_heading">
                  <p>Gender</p>
                </div>
                <div class="catOptions">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck"
                      name="example1"
                    />
                    <label class="custom-control-label" for="customCheck"
                      >Male doctors</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheckw"
                      name="example1"
                    />
                    <label class="custom-control-label" for="customCheckw"
                      >Female doctors</label
                    >
                  </div>
                </div>
              </div>
              <div class="cat">
                <div class="cat_heading">
                  <p>Select Specialists</p>
                </div>
                <div class="catOptions">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheckx"
                      name="example1"
                    />
                    <label class="custom-control-label" for="customCheckx"
                      >Urology</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customChecky"
                      name="example1y"
                    />
                    <label class="custom-control-label" for="customChecky"
                      >Neurologist</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheckxx"
                      name="example1"
                    />
                    <label class="custom-control-label" for="customCheckxx"
                      >Dentists</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheckxy"
                      name="example1y"
                    />
                    <label class="custom-control-label" for="customCheckxy"
                      >Cardiologist</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheckqx"
                      name="example1"
                    />
                    <label class="custom-control-label" for="customCheckqx"
                      >Orthopedics</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheckqy"
                      name="example1y"
                    />
                    <label class="custom-control-label" for="customCheckqy"
                      >Neurologist</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheckqxx"
                      name="example1"
                    />
                    <label class="custom-control-label" for="customCheckqxx"
                      >Dentists</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheckqxy"
                      name="example1y"
                    />
                    <label class="custom-control-label" for="customCheckqxy"
                      >Cardiologist</label
                    >
                  </div>
                </div>
              </div>
              <div class="findDocBtn">
                <button>Search</button>
              </div>
            </div>
          </div>
          <div class="eachBigSection">
            <div class="bigHeading">
              <p>Book our Doctors</p>
            </div>
            <div class="allDoctors container">
              <% for(let i = 0 ; i < 6; i++) { %>
              <div
                class="doctor_identity"
                data-aos="zoom-in-up"
                data-aos-anchor-placement="top-bottom"
                data-aos-duration="1000"
              >
                <div class="his_photo">
                  <img src="/images/doctor.jpg" alt="Doctor" />
                </div>
                <div class="His_profession">
                  <p class="name">Sharmin Afroz</p>
                  <p class="degreeNspeciality">
                    BDS, MDS - Oral & Maxillofacial Surgery
                  </p>

                  <p class="aff">
                    <span class="fa fa-user">&nbsp;&nbsp;</span> Associate
                    Professor (CC) & Unit Head, Dept. of Psychiatry
                  </p>
                  <p class="college">
                    <span class="fa fa-university">&nbsp;</span> Sir Salimullah
                    Medical College & Mitford Hospital
                  </p>
                  <p class="bill">
                    <span class="fa fa-money">&nbsp;&nbsp;</span> 500 BDT
                  </p>

                  <div class="bookingg">
                    <button class="viewProfile" onclick="go()">
                      View Profile
                    </button>
                    <button
                      class="bookAppointment"
                      data-toggle="modal"
                      data-target="#BOOK_APPOINTMENT_MODAL"
                    >
                      Book appointment
                    </button>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/bookAppointment') %> <%-
    include('./partials/footer')%>
  </body>
  <%- include('./partials/vendorsBottom')%>
  <script>
    function go() {
      location = '/services/doctor/profile/1';
    }
  </script>
</html>
