<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/vendorsTop')%>
  <link rel="stylesheet" href="/css/ourDoctors.css" />

  <title>
    Psychotherapy & Counselling| Telepsychiatry Research
  </title>
</head>

<body>
  <section class="wrapper">
    <nav>
      <%- include('./partials/navbar')%>
    </nav>
    <div class="assessment_wrapper">
      <div class="blueDivider">
        <div class="smallText">
          <p><a href="#">Clinical Services</a> / Psychiatric consultations</p>
        </div>
        <div class="bigText">
          <p>Psychiatric Consultation</p>
        </div>
      </div>

      <div class="twoBigSectionFlex">
        <div class="eachBigSection">
          <div class="searchFilter">
            <p>Search Filter</p>
          </div>
          <form action="/services/consultation/search" method="GET" id="search-form">
            <div class="searchFields">
              <div class="sField">
                <div class="input-group">
                  <input type="text" class="form-control py-4" id="search-input" name="searchInput"
                    placeholder="Search psychiatrists (with any keywords)" />
                  <div class="input-group-btn">
                    <button class="btn btn-default" id="" type="submit" disabled>
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="cat">
                <div class="cat_heading">
                  <p>Gender</p>
                </div>
                <div class="catOptions">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="gender" value="Male" />
                    <label class="custom-control-label" for="customCheck">Male psychiatrists
                    </label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheckw" name="gender"
                      value="Female" />
                    <label class="custom-control-label" for="customCheckw">Female psychiatrists
                    </label>
                  </div>
                </div>
              </div>
              <% let city = ['Barishal', 'Chattogram', 'Dhaka', 'Khulna',
                'Rajshahi', 'Sylhet', 'Rangpur', 'Mymensingh'] %>
              <div class="cat">
                <div class="cat_heading">
                  <p>Select Divisions</p>
                </div>
                <div class="catOptions">
                  <% for(let i = 0 ; i < 8; i++) { %>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="14-<%=i%>" name="city" value="14-<%=i%>" />
                    <label class="custom-control-label" for="14-<%=i%>">
                      <%= city[i]%>
                    </label>
                  </div>
                  <% } %>
                </div>
              </div>
              <div class="findDocBtn">
                <button id="search-btn">Search</button>
              </div>
            </div>
          </form>
        </div>

        <div class="eachBigSection">
          <div class="bigHeading">
            <p>Book Appointment</p>
          </div>

          <p style="color: #666; padding: 30px;">A Psychiatrist is a medical doctor with advanced degrees in mental
            health who is
            legally permitted to diagnose and prescribe medicines for treating mental
            illnesses. Psychiatric consultation is necessary to diagnose your mental health
            disorders through comprehensive assessment and to receive the complete
            treatment plan for the problem. TRIN gives the opportunity to take the online
            Psychiatric Consultation from the most famous and respected psychiatrists having
            MD or FCPS and other advanced degrees. Our experienced experts deliver
            compassionate care where your comfort, confidentiality is our first priority.</p>

          <div class="em-button text-right mb-3">
            <button class="emAppointment btn-danger btn-lg px-3 py-2">
              Book Now
            </button>
          </div>

          <div class="allDoctors container">
            <% if (successMessage != '') { %>
            <div class="alert alert-success text-center">
              <p>
                <%= successMessage %>
              </p>
            </div>
            <% } %> <% for(let i = 0 ; i < experts.length; i++) { %>
            <div class="doctor_identity">
              <div class="his_photo">
                <img src="/uploads/<%=experts[i].propicURL%>" alt="Doctor" />
              </div>
              <div class="His_profession">
                <p class="name">
                  <%= experts[i].name %>
                </p>
                <p class="degreeNspeciality">
                  <%= experts[i].education[0].degree %> in <%=
                    experts[i].education[0].field %>
                </p>

                <p class="expertize">
                  <span class="fa fa-user-md">&nbsp;&nbsp;</span> Experts in
                  <%= experts[i].expertise %>
                </p>
                <p class="aff">
                  <span class="fa fa-user">&nbsp;&nbsp;</span>
                  <%= experts[i].designation %>
                </p>
                <p class="college">
                  <span class="fa fa-university">&nbsp;</span>
                  <%= experts[i].affiliation %>
                </p>

                <div class="bookingg">
                  <input type="hidden" name="docID" value="<%=experts[i]._id%>" />
                  <button class="viewProfile">
                    View Profile
                  </button>

                  <button class="bookAppointment" data-id="<%=experts[i]._id%>">
                    Book appointment
                  </button>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('./partials/bookAppointment') %> <%-
    include('./partials/footer')%>
</body>
<%- include('./partials/vendorsBottom')%>
<script>
  $('.viewProfile').on('click', (e) => {
    const ID = $(e.target.parentNode.children[0]).val();
    location = '/services/doctor/profile/expert/' + ID;
  });
  $('.search-btn').click((e) => {
    $('#form').submit();
  });

  $('.bookAppointment').click((e) => {
    console.log($(e.target).attr('data-id'));
    location = '/services/bookAppointment/' + $(e.target).attr('data-id');
  });
  $('.emAppointment').click((e) => {
    console.log($(e.target).attr('data-id'));
    location = '/services/emergencyAppointment/';
  });
</script>

</html>