<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/contactUs.css" />
    <title>Contact Us | Telepsychiatry Research</title>
  </head>

  <body>
    <div style="min-height: 100vh;">
      <header>
        <nav class="cnav">
          <%- include('./partials/navbar')%>
        </nav>
        <div class="my-3 divider"></div>
      </header>

      <div class="contactUs">
        <div class="container">
          <div class="wrapper">
            <div class="contactUs_header text-center">
              <p>Contact Us</p>
            </div>
            <div class="contactUs_form">
              <form action="/contactUs" method="POST">
                <% if(successMessage != ''){ %>
                <div class="alert alert-success" role="alert">
                  <%= successMessage %>
                </div>
                <% } %>
                <div class="flex-parentt">
                  <div class="flex-childd">
                    <p>Name :</p>
                    <input id="name" type="text" required name="name" />
                  </div>

                  <div class="flex-childd">
                    <p>Email :</p>
                    <input id="email" type="email" required name="email" />
                  </div>
                </div>
                <div class="messagee">
                  <p>Your message :</p>
                  <textarea
                    required
                    id="message"
                    name="message"
                    id="message"
                    cols="30"
                    rows="10"
                  ></textarea>
                </div>
                <div class="submit">
                  <button id="submit-btn">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/footer')%>
  </body>

  <%- include('./partials/vendorsBottom')%>
  <script>
    $(document).ready(() => {
      console.log('ready');

      function isAlphaSpace(str) {
        for (let i = 0; i < str.length; i++) {
          if (
            !(str[i] >= 'A' && str[i] <= 'Z') &&
            !(str[i] >= 'a' && str[i] <= 'z') &&
            str[i] != ' '
          ) {
            return false;
          }
        }
        return true;
      }

      $('#submit-btn').click(e => {
        e.preventDefault();
        console.log('submit');
        const name = $('#name')
          .val()
          .trim();
        const email = $('#email')
          .val()
          .trim();
        const message = $('#message')
          .val()
          .trim();
        console.log(name, email, message.length);

        let error = false;
        // name 4 length
        if (!isAlphaSpace(name)) {
          error = true;
          $('#alert').show();
          $('#alert').html('Name supports only alphabets and spaces');
        } else if (message.length < 50) {
          error = true;
          $('#alert').show();
          $('#alert').html('Message must at least be 50 characters');
        }
        if (!error) {
          $('#form').submit();
        }
      });
    });
  </script>
</html>
