<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/doctorProfile.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />

    <title>Profile | Doctor | Telepsychiatry Research</title>
  </head>
  <body>
    <section>
      <header>
        <nav class="cnav">
          <%- include('./partials/navbar')%>
        </nav>
        <div class="my-3 divider"></div>
      </header>

      <section>
        <div class="doctor_profile_heading my-4">
          <p>Profile</p>
        </div>
        <div class="container">
          <div class="doctor_identity">
            <div class="his_photo">
              <img src="/images/doctor.jpg" alt="Doctor" />
            </div>
            <div class="His_profession">
              <p class="name">Sharmin Afroz</p>
              <p class="degree">BDS, MDS - Oral & Maxillofacial Surgery</p>
              <!-- <p class="profession">
                <i class="fa fa-user"></i>&nbsp;&nbsp;Dentist
              </p> -->
              <!-- 
              <div class="ratingg">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="ratingNumber">(38)</span>
              </div> -->

              <p class="aff">
                <span class="fa fa-user">&nbsp;&nbsp;</span> Associate Professor
                (CC) & Unit Head, Dept. of Psychiatry
              </p>
              <p class="college">
                <span class="fa fa-university">&nbsp;</span> Sir Salimullah
                Medical College & Mitford Hospital
              </p>
              <p class="bill">
                <span class="fa fa-money">&nbsp;&nbsp;</span> $100 - $400
              </p>

              <div class="bookingg">
                <button
                  data-toggle="modal"
                  data-target="#BOOK_APPOINTMENT_MODAL"
                >
                  Book appointment
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="aboutDoctor_wrapper">
          <div class="container">
            <div class="card card-tabs-2 aboutDoctor">
              <div class="card-header">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      data-toggle="tab"
                      href="#tab1"
                      role="tab"
                      >Overview</a
                    >
                  </li>
                </ul>
              </div>
              <div class="card-block">
                <div class="tab-content">
                  <div class="tab-pane active" id="tab1">
                    <div class="card-text">
                      <div class="overview_aboutMe">
                        <p class="overview_aboutMe_header">About me</p>
                        <p class="overview_aboutMe_info">
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Asperiores neque expedita doloribus. Nostrum
                          harum quae reprehenderit error velit praesentium,
                          alias nulla eaque tenetur labore consectetur non
                          asperiores mollitia fugiat eveniet atque consequatur
                          magni, ipsam adipisci assumenda ea tempora, aperiam
                          cupiditate. Incidunt sint earum facere. Eos pariatur
                          molestiae quae aliquam tempora aspernatur, beatae
                          voluptatum adipisci consequuntur nemo officiis
                          inventore. Sequi debitis amet voluptatibus aspernatur
                          voluptate ipsam, odit impedit id dolor? Fugit placeat
                          velit omnis. Eaque, odio! Perferendis nesciunt
                          corrupti atque animi dicta ad vero tempora id. Rem
                          recusandae eius maxime tempora officiis, at ipsa
                          veniam impedit, earum deleniti tenetur dolores sed?
                        </p>
                      </div>

                      <div class="overview_education">
                        <p class="overview_education_header">Education</p>
                        <div class="overview_education_institutes">
                          <ul>
                            <% for (let i = 0 ; i < 3 ; i++) { %>
                            <li class="overview_education_institutes_one">
                              <p class="ins">Dhaka Medical College</p>
                              <p class="deg">BDS</p>
                              <p class="yrr">1998-2003</p>
                            </li>
                            <% } %>
                          </ul>
                        </div>
                      </div>

                      <div class="overview_exper">
                        <p class="overview_exper_header">Work & Experience</p>
                        <div class="overview_exper_institutes">
                          <ul>
                            <% for (let i = 0 ; i < 3 ; i++) { %>
                            <li class="overview_exper_institutes_one">
                              <p class="ins">Comfort Care Dental Clinic</p>
                              <p class="yrr">2010 - Present (5 years)</p>
                            </li>
                            <% } %>
                          </ul>
                        </div>
                      </div>

                      <div class="overview_services">
                        <p class="overview_services_header">Services</p>
                        <div class="overview_services_points">
                          <p>&rarr;&nbsp;&nbsp;&nbsp;Tooth cleaning</p>
                          <p>&rarr;&nbsp;&nbsp;&nbsp;Composite Bonding</p>
                          <p>&rarr;&nbsp;&nbsp;&nbsp;Fissure Sealants</p>
                          <p>&rarr;&nbsp;&nbsp;&nbsp;Root Canal Therapy</p>
                          <p>&rarr;&nbsp;&nbsp;&nbsp;Surgical Extractions</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <%- include('./partials/vendorsBottom')%> <%-
    include('./partials/bookAppointment') %>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
    <script>
      $('input[name="meet_date"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: parseInt(moment().format('YYYY'), 10),
        maxYear: parseInt(moment().format('YYYY'), 10) + 1,
        autoUpdateInput: false,
        locale: {
          cancelLabel: 'Clear'
        }
      });

      $('input[name="meet_date"]').on('apply.daterangepicker', function(
        ev,
        picker
      ) {
        $(this).val(picker.startDate.format('MM/DD/YYYY'));
      });

      $('input[name="meet_date"]').on('cancel.daterangepicker', function(
        ev,
        picker
      ) {
        $(this).val('');
      });
    </script>

    <%- include('./partials/footer')%>
  </body>
</html>
