<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/doctorProfile.css" />

    <title>Profile | Doctor | Telepsychiatry Research</title>
  </head>

  <body>
    <section>
      <nav>
        <%- include('./partials/navbar')%>
      </nav>
      <div class="blueDivider">
        <div class="smallText">
          <p><a href="/">Doctor</a> / profile</p>
        </div>
        <div class="bigText">
          <p><%=doc.name%></p>
        </div>
      </div>

      <section class="py-5 mt-1 docProWrapper">
        <div class="container">
          <div class="doctor_identity">
            <div class="his_photo">
              <img
                src="http://trin-innovation.com/uploads/<%=doc.propicURL%>"
                alt="Doctor"
              />
            </div>
            <div class="His_profession">
              <p class="name"><%=doc.name%></p>
              <p class="degreeNspeciality">
                <%=doc.professionalDegree%> <%=doc.expertize%>
              </p>

              <p class="aff">
                <span class="fa fa-user">&nbsp;&nbsp;</span>
                <%=doc.designation%>
              </p>
              <p class="college">
                <span class="fa fa-university">&nbsp;</span>
                <%=doc.affiliation%>
              </p>
              <p class="bill">
                <span class="fa fa-money">&nbsp;&nbsp;</span> <%=doc.fee%> BDT
              </p>

              <div class="bookingg">
                <button
                  data-toggle="modal"
                  data-target="#BOOK_APPOINTMENT_MODAL"
                >
                  Book appointment
                </button>
              </div>
            </div>
          </div>

          <div class="aboutDoctor_wrapper">
            <div class="card card-tabs-2 aboutDoctor">
              <div class="card-header">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="overview"
                      data-toggle="tab"
                      href="#tab1"
                      role="tab"
                      >Overview</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="training"
                      data-toggle="tab"
                      href="#tab2"
                      role="tab"
                      >Training and Experiences</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="awards"
                      data-toggle="tab"
                      href="#tab3"
                      role="tab"
                      >Awards</a
                    >
                  </li>
                  <!-- <li class="nav-item">
                    <a
                      class="nav-link"
                      id="cv"
                      data-toggle="tab"
                      href="#tab4"
                      role="tab"
                      >Visiting Hours</a
                    >
                  </li> -->
                </ul>
              </div>
              <div class="card-block box">
                <div class="tab-content">
                  <div class="tab-pane active" id="tab1">
                    <div class="card-text">
                      <div class="overview_aboutMe" id="overview-pane">
                        <div class="aboutMe">
                          <p class="overview_aboutMe_header">About me</p>
                          <p class="overview_aboutMe_info">
                            <%=doc.aboutYourself%>
                          </p>
                        </div>
                        <div class="overview_education" id="education-pane12">
                          <div class="widget education-widget">
                            <h4 class="widget-title">Education</h4>
                            <div class="experience-box">
                              <ul class="experience-list">
                                <% for(let ii = 0 ; ii < doc.education.length;
                                ii++) { %>
                                <li>
                                  <div class="experience-user">
                                    <div class="before-circle"></div>
                                  </div>
                                  <div class="experience-content">
                                    <div class="timeline-content">
                                      <a href="#/" class="name"
                                        ><%=doc.education[ii].eduInstitute%></a
                                      >
                                      <div>
                                        <%=doc.education[ii].degree%>
                                      </div>
                                      <span class="time"
                                        ><%=doc.education[ii].eduFrom%>-<%=doc.education[ii].eduTo%></span
                                      >
                                    </div>
                                  </div>
                                </li>
                                <% } %>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tab2">
                    <div class="overview_education" id="WorkNexp">
                      <div class="widget education-widget">
                        <h4 class="widget-title">Work & Experience</h4>
                        <div class="experience-box">
                          <ul class="experience-list">
                            <% for(let ii = 0 ; ii < doc.workExperience.length;
                            ii++) { %>
                            <li>
                              <div class="experience-user">
                                <div class="before-circle"></div>
                              </div>
                              <div class="experience-content">
                                <div class="timeline-content">
                                  <a href="#/" class="name"
                                    ><%= doc.workExperience[ii].expInstitute
                                    %></a
                                  >
                                  <span class="time"
                                    ><%=doc.workExperience[ii].expFrom%></span
                                  >
                                </div>
                              </div>
                            </li>
                            <% } %>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="overview_education" id="education-pane31">
                      <div class="widget education-widget">
                        <h4 class="widget-title">Professional Training</h4>
                        <div class="experience-box">
                          <ul class="experience-list ProTraining">
                            <% for(let ii = 0 ; ii < doc.training.length; ii++)
                            { %>
                            <li>
                              <div class="experience-user">
                                <div class="before-circle"></div>
                              </div>
                              <div class="experience-content">
                                <div class="timeline-content">
                                  <a href="#/" class="name">
                                    <%= doc.training[ii].trainingName %></a
                                  >
                                  <span class="time">
                                    <%= doc.training[ii].trainingYear %></span
                                  >
                                  <div>
                                    <p class="someText">
                                      <%= doc.training[ii].trainingDetails %>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <% } %>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="downloadPDF">
                      <input
                        type="hidden"
                        name="cvLink"
                        value="http://trin-innovation.com/uploads/<%=doc.cvURL%>"
                      />
                      <button>Download CV</button>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tab3">
                    <div class="overview_education" id="awardss-pane">
                      <div class="widget education-widget">
                        <h4 class="widget-title">Awards</h4>
                        <div class="experience-box">
                          <ul class="experience-list">
                            <% for(let ii = 0 ; ii < doc.awards.length; ii++) {
                            %>
                            <li>
                              <div class="experience-user">
                                <div class="before-circle"></div>
                              </div>
                              <div class="experience-content awardsTab">
                                <div class="timeline-content">
                                  <span class="coloredTime"
                                    ><p>
                                      <%= doc.awards[ii].awardsYear%>
                                    </p></span
                                  >
                                  <a href="#/" class="name"
                                    ><%= doc.awards[ii].awardsName%></a
                                  >
                                  <div>
                                    <p class="someText">
                                      <%= doc.awards[ii].awardsDetailsW%>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <% } %>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="tab-pane fade" id="tab4">
                    <div class="card-text busiHour">
                      <%for(let i = 0 ; i < 2 ; i++) { %>
                      <div class="locationTimeMoney">
                        <div class="location">
                          <p class="ins_nam">Smile Dental Care</p>
                          <p class="ins_loc">450/A Shewrapara, Mirpur, Dhaka</p>
                          <p class="ins_dir">
                            <a
                              href="https://goo.gl/maps/y7ueXKkTSEQz8DvY8"
                              target="_blank"
                              >Get Directions</a
                            >
                          </p>
                        </div>
                        <div class="timee">
                          <div class="time_each">
                            <p class="dayy">Mon-Sat</p>
                            <p class="tmm">10:00AM-2:00PM</p>
                            <p class="tmm">4:00PM-9:00PM</p>
                          </div>
                          <div class="time_each">
                            <p class="dayy">Sun</p>
                            <p class="tmm">10:00AM-2:00PM</p>
                          </div>
                        </div>
                      </div>
                      <% } %>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <%- include('./partials/vendorsBottom')%> <%-
    include('./partials/bookAppointment') %> <%- include('./partials/footer')%>

    <script>
      $('.downloadPDF button').on('click', (e) => {
        console.log();
        window.open($(e.target.parentElement.children[0]).val(), '_blank');
      });
    </script>
  </body>
</html>
