<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/vendorsTop')%>
  <link src="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
    type="text/css" />
  <link rel="stylesheet" href="/css/appointments.css" />

  <title>
    Emergency Appointments | Telepsychiatry Research
  </title>
</head>

<body>
  <section class="wrapper">
    <nav>
      <%- include('./partials/navbar')%>
    </nav>
    <div class="appointment_wrapper">
      <div class="blueDivider">
        <div class="smallText">
          <p><a href="/">Experts</a> / Appointments</p>
        </div>
        <div class="bigText">
          <p>List of Appointments</p>
        </div>
      </div>

      <div class="twoBigSectionFlex">
        <div class="eachBigSection">
          <div class="appType">
            <div class="appTypeHeading">
              <p>Appointment Types</p>
            </div>
            <div class="appTypeOptions">
              <div class="custom-control custom-radio">
                <% if(cat === 'All') { %>
                <input type="radio" class="custom-control-input" id="customRadio1xx" name="example1" value="all"
                  checked />
                <% } else { %>
                <input type="radio" class="custom-control-input" id="customRadio1xx" name="example1" value="all" />
                <% } %>
                <label class="custom-control-label" for="customRadio1xx">
                  All Appointments
                </label>
              </div>
              <div class="custom-control custom-radio">
                <% if(cat === 'Current'){ %>
                <input type="radio" class="custom-control-input" id="customRadio1" name="example1" value="current"
                  checked />
                <% } else { %>
                <input type="radio" class="custom-control-input" id="customRadio1" name="example1" value="current" />
                <% } %>
                <label class="custom-control-label" for="customRadio1">
                  Current Appointments
                </label>
              </div>
              <div class="custom-control custom-radio">
                <% if(cat === 'Upcoming'){ %>
                <input type="radio" class="custom-control-input" id="customRadio11" name="example1" value="upcoming"
                  checked />
                <% } else { %>
                <input type="radio" class="custom-control-input" id="customRadio11" name="example1" value="upcoming" />
                <% } %>
                <label class="custom-control-label" for="customRadio11">
                  Upcoming Appointments
                </label>
              </div>
              <div class="custom-control custom-radio">
                <% if(cat === 'Unseen'){ %>
                <input type="radio" class="custom-control-input" id="customRadio111" name="example1" value="unseen"
                  checked />
                <% } else { %>
                <input type="radio" class="custom-control-input" id="customRadio111" name="example1" value="unseen" />
                <% } %>

                <label class="custom-control-label" for="customRadio111">
                  Unseen Appointments
                </label>
              </div>
            </div>
          </div>

          <div class="appType">
            <div class="appType">
              <div class="appTypeHeading">
                <p>Emergency Appointments</p>
              </div>

              <div class="appTypeOptions">
                <div class="custom-control custom-radio">
                  <% if (cat === 'unseen') { %>
                  <input type="radio" class="custom-control-input" id="customRadio21" name="emergency" value="unseen"
                    checked />
                  <% } else { %>
                  <input type="radio" class="custom-control-input" id="customRadio21" name="emergency" value="unseen" />
                  <% } %>

                  <label class="custom-control-label" for="customRadio21">
                    Unseen Appointments
                  </label>
                </div>
              </div>
              <div class="appTypeOptions">
                <div class="custom-control custom-radio">
                  <% if(cat === 'taken') { %>
                  <input type="radio" class="custom-control-input" id="customRadio22" name="emergency" value="taken"
                    checked />
                  <% } else { %>
                  <input type="radio" class="custom-control-input" id="customRadio22" name="emergency" value="taken" />
                  <% } %>

                  <label class="custom-control-label" for="customRadio22">
                    Taken Appointments
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="eachBigSection">
          <div class="app_heading text-center pt-3">
            <h1>Emergency Appointments ( <%= cat %>)</h1>
          </div>
          <% if (errorMessage.length != 0) { %>
          <div class="alert alert-danger" style="margin-top: 30px;">
            <%= errorMessage %>
          </div>
          <% } %>
          <div class="app_list mt-5">
            <table class="table table-striped table-bordered">
              <thead class="thead-dark text-center">
                <tr>
                  <th>User</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <% for (let i=0; i< data.length; i++) { %>
                <tr>
                  <td>
                    <span class="fa fa-user pr-1"> </span>
                    <%= data[i].name %> (<%= data[i].age %>)
                  </td>

                  <td>
                    <% if (cat == 'unseen') { %>
                    <button name="<%= data[i]._id %>" class="btn btn-dark updateBtn">
                      Approve
                    </button>
                    <% } else { %>
                    <a class="btn btn-success btn-lg px-4" style="color: white; cursor: pointer;"
                      href="https://meet.jit.si/<%=data[i]._id%>" target="_blank">Start</a>
                    <% } %>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('./partials/footer')%>
</body>
<%- include('./partials/vendorsBottom')%>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
  $('input[name="dob"]').daterangepicker({
    autoUpdateInput: false,
    singleDatePicker: true,
    showDropdowns: true,
    minYear: parseInt(moment().format('YYYY'), 10),
    maxYear: parseInt(moment().format('YYYY'), 10) + 1,
    minDate: new Date(),
    locale: {
      cancelLabel: 'Clear',
      format: 'DD/MM/YYYY',
    },
  });
  $('input[name="dob"]').on('apply.daterangepicker', function (ev, picker) {
    $(this).val(picker.startDate.format('DD/MM/YYYY'));
  });
  $('input[name="dob"]').on('cancel.daterangepicker', function (ev, picker) {
    $(this).val('');
  });
</script>
<script>
  let id, email;
  $('.updateBtn2').click((e) => {
    const tar = $(e.target)[0].dataset.name;
    const time = tar.split('-')[0].trim();
    const date = tar.split('-')[1].trim();
    id = tar.split('-')[2];
    email = tar.split('-')[3];
    $('.reqdate').html(date);
    $('.reqtime').html(time);
    $('input[name="dob"]').val(date);
    const one = time.split(':')[0];
    const two = `${time[3]}${time[4]}`;
    const three = `${time[time.length - 2]}${time[time.length - 1]}`;
    console.log(date, time, one, two, three);
    $('#oneToTwelveID').val(one);
    $('#zeroToSixtyID').val(two);
    $('#AmPmID').val(three);
  });

  $('.updateBtn').click((e) => {
    location = '/services/emergency/approve/' + e.target.name;
  });

  $('input[name="example1"]').click((e) => {
    const type = $(e.target).val();
    console.log(type);
    location = `/services/all-appointments?type=${type}`;
  });
  $('input[name="emergency"]').click((e) => {
    const type = $(e.target).val();
    console.log(type);
    location = `/services/emergency?type=${type}`;
  });

  $('#submit').click((e) => {
    const hr = $('#oneToTwelveID').val();
    const min = $('#zeroToSixtyID').val();
    const ampm = $('#AmPmID').val();
    const time = hr + ':' + min + ' ' + ampm;
    const date = $('#dob').val();
    const data = {
      time,
      date,
      id,
      email,
    };
    console.log(data);
    $.ajax({
      type: 'POST',
      url: '/services/date-time-reset',
      data,
      success: (data) => {
        location.reload();
      },
    });
  });
</script>

</html>