<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/vendorsTop')%>
        <link rel="stylesheet" href="/css/events.css" />
        <title>Forum | Telepsychiatry Research</title>
</head>

<body>
    <div>
        <header>
            <nav>
                <%- include('./partials/navbar')%>
            </nav>
            <div class="my-3 divider"></div>
        </header>

        <% if (locals.created) {%>
            console.log('created')
            <% } %>

                <section class="events container">
                    <div class="events_header text-center">
                        <p>Events</p>
                    </div>
                    <div class="add_event_button">
                        <button>Create Event</button>
                    </div>
                    <% for(let i = 0 ; i<posts.length; i++) { %>
                        <div class="event " data-aos="fade-up" data-aos-duration="1000">
                            <div class="flex-parent">
                                <div class="flex-child dateFlex">
                                    <div class="DateMonth">
                                        <p class="datee">24</p>
                                        <p class="timee">MAY</p>
                                    </div>
                                </div>

                                <div class="flex-child detailsFlex">
                                    <div class="event_title">
                                        <p>
                                            <%= posts[i].title %>
                                        </p>
                                    </div>
                                    <div class="event_details">
                                        <p>
                                            <%- posts[i].description %>
                                        </p>
                                    </div>
                                    <div class="event_times">
                                        <p>
                                            <i class="fa fa-calendar"> &nbsp; </i> Date:
                                            <%= posts[i].date %>
                                        </p>
                                    </div>
                                    <div class="event_times">
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 20px">
                    &nbsp;</i
                  >Time: <%= posts[i].time %>
                </p>
              </div>
              <div class="event_times">
                <p>
                  <i class="fa fa-map-marker" style="font-size: 20px">
                    &nbsp;</i
                  >
                  Address: <%= posts[i].location %>
                </p>
              </div>
            </div>
          </div>
        </div>

        <% } %>
        <div class="pt-3">
          <%- include ('./partials/pagination') %>
        </div>
      </section>
    </div>
    <%- include('./partials/footer')%>
  </body>
  <%- include('./partials/vendorsBottom')%>

  <script>
    document
      .getElementsByClassName('add_event_button')[0]
      .addEventListener('click', e => {
        window.location = '/events/new';
      });
  </script>
</html>