<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/forum.css" />
    <title>Forum | Telepsychiatry Research</title>
  </head>
  <body>
    <div class="whole_wrapper">
      <nav class="cnav">
        <%- include('./partials/navbar')%>
      </nav>
      <div class="my-3 divider"></div>
      <section class="forum">
        <div class="addForum">
          <div class="addForum__header">
            <p>Community Forums</p>
          </div>
          <div class="addForum__newDiscussion">
            <button>New discussion</button>
          </div>
        </div>

        <div class="Discussions">
          <div class="Discussions__heading">
            <div class="Discussions__heading_header">
              <p>Discussions</p>
            </div>
            <div class="Discussions__heading_order">
              <div class="flexCenter">
                <select
                  class="selectOrganization"
                  data-width="100%"
                  title="Sort by"
                  data-size="6"
                  required
                >
                  <option value="Most Recent">Most Recent</option>
                  <option value="Number of views">Number of views</option>
                  <option value="Last Updated">Last Updated</option>
                  <option value="Most Liked">Most Liked</option>
                  <option value="Most Commented">Most Commented</option>
                </select>
              </div>
            </div>
          </div>

          <div class="Discussions__searching">
            <form action="#" method="POST">
              <div class="Discussions__searching_searchbox">
                <input type="text" name="searchForum" required />
              </div>
              <div class="Discussions__searching_searchBtn">
                <input type="submit" value="search" />
              </div>
            </form>
          </div>
        </div>

        <div class="MAINforumsss">
          <%- include ('./partials/sidebarCategory') %>
          <div class="alldiscussions">
            <% for(let i = 0 ; i < 6 ; i++ ) { %>
            <div
              class="eachDiscussion"
              data-aos="fade-up"
              data-aos-duration="1000"
            >
              <div class="discussion__title">
                <p>
                  I have had a feeding tube in my stomach's for around three
                  months. Does anyone else have one?
                </p>
              </div>
              <div class="discussion__usernameTime">
                <div class="discussion__username">
                  <p><i class="fa fa-user"></i> MD. Sakib Khan</p>
                </div>
                <div class="discussion__time">
                  <p>
                    <i
                      class="fa fa-clock-o"
                      aria-hidden="true"
                      style="font-size: 18px"
                    ></i>
                    Posted 2 hours ago
                  </p>
                </div>
              </div>
              <div class="discussion__desc">
                <p>
                  No one gave me any food or equipment or instructions on how to
                  use it. Ive had it for months and ive never used it. I dont
                  understand its purpose at this point. Any suggestions and does
                  anyone have one in that can give me some insight? thanks
                </p>
              </div>
              <div class="discussion__react">
                <div class="discussion__react_love">
                  <i class="fa fa-heart"></i>
                </div>
                <div class="discussion__react_comment">
                  <i class="fa fa-comment"></i>
                </div>
              </div>
            </div>
            <% } %>
            <div class="pt-5">
              <%- include ('./partials/pagination') %>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%- include('./partials/footer')%>
  </body>
  <%- include('./partials/vendorsBottom')%>

  <script>
    $('.discussion__title').click(function() {
      location = '/forum/single';
    });
    $('.addForum__newDiscussion button').click(function() {
      location = '/forum/new';
    });
  </script>
</html>
