<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <%- include('./partials/vendorsTop')%>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/institution.css" />
        <title>Institutions | Telepsychiatry Research</title>
</head>
<link rel="stylesheet" href="/css/institution.css" />
<%- include('./partials/vendorsTop')%>

    <body>
        <header>
            <nav class="cnav">
                <%- include('./partials/navbar')%>
            </nav>
            <div class="my-3 divider"></div>
        </header>

        <div class="content-wrapper">
            <div class="header">
                <p>Institutional Health Care</p>
            </div>

            <div class="sub-header">
                Regular health exams and tests can help find problems before they start. They also can help find problems early, when your chances for treatment and cure are better. By getting the right health services, screenings, and treatments, you are taking steps
                that help your chances for living a longer, healthier life.
                <br />
                <br /> Some of the diseases can be prevented with healthy lifestyle modifications while on the other hand, some diseases cannot be prevented, but their overall impact can be reduced by detecting them at their early stage. Nowadays, wellness
                visits and comprehensive exams play a significant role in maintaining your health. Screening tests play an important role in the comprehensive examination and it is the best way to find the disease early. Let us take a look at screening
                test, its importance in detecting the disease early and some common health screening tests.
            </div>

            <!-- <div class="searching">
                <form action="#" method="POST">
                    <div class="searchbox">
                        <input type="text" name="search" required />
                    </div>
                    <div class="searchBtn">
                        <input type="submit" value="Search" />
                    </div>
                </form>
            </div> -->

            <div class="search-box">
                <input id="search-bar" type="text" placeholder="Type to search">
                <a href="#">
                    <i class="fa fa-search"></i>
                </a>
            </div>

            <div class="packages">
                <% for (let i=0; i<names.length; i++) {%>
                    <div class="each-package">
                        <div class="title">
                            <p>
                                <%= names[i] %>
                            </p>
                        </div>
                        <div class="about">
                            Liver function tests check the levels of certain enzymes and proteins in your blood. Levels that are higher or lower than normal can indicate liver problems. Certain foods and medications can affect the results of your liver function tests. Your doctor
                            will probably ask you to avoid eating food and taking some medications before your blood is drawn.
                        </div>
                        <br>
                        <div class="contents">
                            <p class="intro">This package includes</p>
                            <div class="list">
                                <p><i class="fa fa-chevron-circle-right"></i><strong>Alanine transaminase</strong> ALT levels would rise during the second trimester </p>
                                <p><i class="fa fa-chevron-circle-right"></i><strong>Aspartate transaminase</strong> An increase in AST levels may indicate liver damage</p>
                                <p><i class="fa fa-chevron-circle-right"></i><strong>Alkaline phosphatase</strong> Lower-than-normal levels of albumin and total protein may indicate liver damage or disease. </p>
                                <p><i class="fa fa-chevron-circle-right"></i><strong>Alanine transaminase</strong> ALT levels would rise during the second trimester </p>
                                <p><i class="fa fa-chevron-circle-right"></i><strong>Albumin and total protein</strong> An increase in AST levels may indicate liver damage</p>
                                </i>
                            </div>
                        </div>
                        <!-- <hr> -->
                        <div class="footer">
                            <div class="price">
                                Price <span>125</span> BDT
                            </div>
                            <div class="two-buttons">
                                <div class="see-more-btn">
                                    <button> More</button>
                                </div>
                                <div class="buy-btn">
                                    <button>Buy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>

        <%- include('./partials/vendorsBottom')%>
            <%-
    include('./partials/bookAppointment') %>
                <%- include('./partials/footer')%>
    </body>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $('#search').on('keypress', function(e) {
            if (e.which == 13) {
                // $('#form').submit()
            }
        });

        $('.see-more-btn').click(e => {
            window.location = '/services/singleInstitution';
        });

        $('#search-bar').on('keypress', (e) => {
            $('.each-package').hide()
            const phrase = $('#search-bar').val()
            const packages = $('.title p')
            for (let i = 0; i < packages.length; i++) {
                const line = packages[i].innerHTML.toLowerCase()
                if (line.includes(phrase)) {
                    $(packages[i].parentElement.parentElement).show()
                }
            }
        })
    </script>

</html>