<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/vendorsTop')%>
        <link rel="stylesheet" href="/css/events.css" />
        <title>Workshop | Telepsychiatry Research</title>
</head>

<body>
    <div>
        <header>
            <nav>
                <%- include('./partials/navbar')%>
            </nav>
            <div class="my-3 divider"></div>
        </header>

        <section class="events container">
            <div class="events_header text-center">
                <p>Workshop</p>
            </div>
            <div class="add_event_button">
                <button>Add Workshop</button>
            </div>

            <div class="events_list_wrapper">
                <div class="bigHeading">
                    <p>Current Workshops</p>
                </div>
                <div class="events_list">
                    <% for(let i = 0 ; i < 1; i++) { %>
                        <div class="event">
                            <div class="flex-parent">
                                <div class="flex-child dateFlex">
                                    <div class="DateMonth">
                                        <p class="datee">28</p>
                                        <p class="timee">March</p>
                                    </div>
                                </div>

                                <div class="flex-child detailsFlex">
                                    <div class="event_title">
                                        <p>
                                            Workshop postponed due to Coronavirus outbreak
                                        </p>
                                    </div>
                                    <div class="event_details">
                                        <p>
                                            Due to the recent Corona outbreak, we are forced to postpone the "Parenting During Corona Pandemic" workshop. We sincerely apologise for the inconvenience. The workshop will be held on Friday the 27th of March, 2020 at 3:30PM. For more information, please
                                            call +880 1552 525252
                                        </p>
                                    </div>
                                    <div class="event_times">
                                        <p><i class="fa fa-calendar"> &nbsp; </i> Date: 28/03/20</p>
                                    </div>
                                    <div class="event_times">
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 20px">
                        &nbsp;</i
                      >Time: 10:00AM - 12.30PM.
                    </p>
                  </div>
                  <div class="event_times">
                    <p>
                      <i class="fa fa-map-marker" style="font-size: 20px">
                        &nbsp;</i
                      >
                      Address: Banani Office of Padma Bridge %>
                    </p>
                  </div>
                </div>
              </div>
              <div class="cBtn text-center">
                <button data-toggle="modal" data-target="#WORKSHOP_REG_MODAL">
                  Register
                </button>
              </div>
            </div>
            <% } %>
            <div class="seeAll text-center p-2">
              <button>See all</button>
            </div>
          </div>
        </div>

        <div class="events_list_wrapper">
          <div class="bigHeading">
            <p>Upcoming Workshops</p>
          </div>
          <div class="events_list">
            <% for(let i = 0 ; i < 1; i++) { %>
            <div class="event">
              <div class="flex-parent">
                <div class="flex-child dateFlex">
                  <div class="DateMonth">
                    <p class="datee">28</p>
                    <p class="timee">March</p>
                  </div>
                </div>

                <div class="flex-child detailsFlex">
                  <div class="event_title">
                    <p>
                      Workshop postponed due to Coronavirus outbreak
                    </p>
                  </div>
                  <div class="event_details">
                    <p>
                      Due to the recent Corona outbreak, we are forced to
                      postpone the "Parenting During Corona Pandemic" workshop.
                      We sincerely apologise for the inconvenience. The workshop
                      will be held on Friday the 27th of March, 2020 at 3:30PM.
                      For more information, please call +880 1552 525252
                    </p>
                  </div>
                  <div class="event_times">
                    <p><i class="fa fa-calendar"> &nbsp; </i> Date: 28/03/20</p>
                                    </div>
                                    <div class="event_times">
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 20px">
                        &nbsp;</i
                      >Time: 10:00AM - 12.30PM.
                    </p>
                  </div>
                  <div class="event_times">
                    <p>
                      <i class="fa fa-map-marker" style="font-size: 20px">
                        &nbsp;</i
                      >
                      Address: Banani Office of Padma Bridge %>
                    </p>
                  </div>
                </div>
              </div>
              <div class="cBtn text-center">
                <button data-toggle="modal" data-target="#WORKSHOP_REG_MODAL">
                  Register
                </button>
              </div>
            </div>
            <% } %>
            <div class="seeAll text-center p-2">
              <button>See all</button>
            </div>
          </div>
        </div>
        <div class="events_list_wrapper">
          <div class="bigHeading">
            <p>Past Workshops</p>
          </div>
          <div class="events_list">
            <% for(let i = 0 ; i < 1; i++) { %>
            <div class="event">
              <div class="flex-parent">
                <div class="flex-child dateFlex">
                  <div class="DateMonth">
                    <p class="datee">28</p>
                    <p class="timee">March</p>
                  </div>
                </div>

                <div class="flex-child detailsFlex">
                  <div class="event_title">
                    <p>
                      Workshop postponed due to Coronavirus outbreak
                    </p>
                  </div>
                  <div class="event_details">
                    <p>
                      Due to the recent Corona outbreak, we are forced to
                      postpone the "Parenting During Corona Pandemic" workshop.
                      We sincerely apologise for the inconvenience. The workshop
                      will be held on Friday the 27th of March, 2020 at 3:30PM.
                      For more information, please call +880 1552 525252
                    </p>
                  </div>
                  <div class="event_times">
                    <p><i class="fa fa-calendar"> &nbsp; </i> Date: 28/03/20</p>
                                    </div>
                                    <div class="event_times">
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 20px">
                        &nbsp;</i
                      >Time: 10:00AM - 12.30PM.
                    </p>
                  </div>
                  <div class="event_times">
                    <p>
                      <i class="fa fa-map-marker" style="font-size: 20px">
                        &nbsp;</i
                      >
                      Address: Banani Office of Padma Bridge %>
                    </p>
                  </div>
                </div>
              </div>
              <div class="cBtn text-center">
                <button data-toggle="modal" data-target="#WORKSHOP_REG_MODAL">
                  Register
                </button>
              </div>
            </div>
            <% } %>
            <div class="seeAll text-center p-2">
              <button>See all</button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%- include('./partials/events_modal')%> <%- include('./partials/footer')%>
    <%- include('./partials/vendorsBottom')%>

    <script>
      document
        .getElementsByClassName('add_event_button')[0]
        .addEventListener('click', e => {
          window.location = '/events/workshop/new';
        });
      $('.seeAll').on('click', e => {
        location = '/events/showAll';
      });
    </script>
  </body>
</html>