<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/authentication_log.css" />
    <title>Login | Telepsychiatry Research</title>
  </head>

  <body>
    <div>
      <div style="min-height: 100vh;">
        <header>
          <nav>
            <%- include('./partials/navbar')%>
          </nav>
          <div class="blueDivider">
            <div class="smallText">
              <p><a href="#">Authentication</a></p>
            </div>
            <div class="bigText">
              <p>Sign in</p>
            </div>
          </div>
        </header>

        <section class="auth">
          <div class="flx-prnt">
            <div class="flx-chld">
              <div class="imageWrapper">
                <img src="/images/auth_image.jpg" alt="" />
              </div>
            </div>
            <div class="flx-chld">
              <div class="auth_wrapper_form">
                <div class="auth_wrapper">
                  <!-- <div class="auth_header">
                    <h1>Login</h1>
                  </div> -->
                  <% if (errorMessage != '') { %>
                  <div class="alert alert-danger text-center">
                    <%= errorMessage %> 
                  </div>
                  <% } %>                
                  <div class="auth_form">
                    <form action="/auth/login" method="POST">
                      <div class="inputField">
                        <!-- <div class="inputField_label">
                          <p>Email</p>
                        </div> -->
                        <div class="inputField_textbox">
                          <input
                            type="text"
                            name="email"
                            id="email"
                            placeholder="Email Address"
                            required
                          />
                        </div>
                      </div>

                      <div class="inputField">
                        <!-- <div class="inputField_label">
                          <p>Password</p>
                        </div> -->
                        <div class="inputField_textbox">
                          <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Password"
                            required
                          />
                          <div class="forgetPassword">
                            <a
                              href="#"
                              data-toggle="modal"
                              data-target="#FORGET_PASSWORD_MODAL"
                            >
                              Forgot your password?
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="submit">
                        <button class="btn btn-dark">Login</button>
                      </div>

                      <div class="signup">
                        <div class="hr"></div>
                        <div class="signup_ask">
                          <p>
                            Don't have an account?
                            <a
                              class="sign_up_href"
                              href="#"
                              data-toggle="modal"
                              data-target="#SELECT_CATEGORY_MODAL"
                              >Register</a
                            >
                          </p>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <%- include('./partials/register_forgetPassword') %> <%-
    include('./partials/register_selectCategory') %>
  </body>
  <%- include('./partials/vendorsBottom')%>

  <script></script>
</html>
