<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/ourDoctors.css" />

    <title>
      Our Doctors | Telepsychiatry Research
    </title>
  </head>

  <body>
    <section class="wrapper">
      <nav>
        <%- include('./partials/navbar')%>
      </nav>
      <div class="assessment_wrapper">
        <div class="blueDivider">
          <div class="smallText">
            <p>
              <a href="#">Clinical Services</a> / Psychotherapy & Counselling
            </p>
          </div>
          <div class="bigText">
            <p>Our Psychologists</p>
          </div>
        </div>

        <div class="twoBigSectionFlex">
          <div class="eachBigSection">
            <div class="searchFilter">
              <p>Search Filter</p>
            </div>
            <form
              action="/services/psychoTherapy/search"
              method="GET"
              id="search-form"
            >
              <div class="searchFields">
                <div class="sField">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control py-4"
                      id="search-input"
                      name="searchInput"
                      placeholder="Search psychologists (with any keywords)"
                    />
                    <div class="input-group-btn">
                      <button
                        class="btn btn-default"
                        id=""
                        type="submit"
                        disabled
                      >
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="cat">
                  <div class="cat_heading">
                    <p>Gender</p>
                  </div>
                  <div class="catOptions">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck"
                        name="gender"
                        value="Male"
                      />
                      <label class="custom-control-label" for="customCheck"
                        >Male psychologists
                      </label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheckw"
                        name="gender"
                        value="Female"
                      />
                      <label class="custom-control-label" for="customCheckw"
                        >Female psychologists
                      </label>
                    </div>
                  </div>
                </div>
                <% let city = ['Barishal', 'Chattogram', 'Dhaka', 'Khulna',
                'Rajshahi', 'Sylhet', 'Rangpur', 'Mymensingh'] %>
                <div class="cat">
                  <div class="cat_heading">
                    <p>Select Divisions</p>
                  </div>
                  <div class="catOptions">
                    <% for(let i = 0 ; i < 8; i++) { %>
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="14-<%=i%>"
                        name="city"
                        value="14-<%=i%>"
                      />
                      <label class="custom-control-label" for="14-<%=i%>">
                        <%= city[i]%>
                      </label>
                    </div>
                    <% } %>
                  </div>
                </div>
                <div class="findDocBtn">
                  <button id="search-btn">Search</button>
                </div>
              </div>
            </form>
          </div>

          <div class="eachBigSection">
            <div class="bigHeading">
              <p>Book Appointment</p>
            </div>
            <div class="allDoctors container">
              <% if (successMessage != '') { %>
              <div class="alert alert-success text-center">
                <p><%= successMessage %></p>
              </div>
              <% } %> <% for(let i = 0 ; i < experts.length; i++) { %>
              <div class="doctor_identity">
                <div class="his_photo">
                  <img src="/uploads/<%=experts[i].propicURL%>" alt="Doctor" />
                </div>
                <div class="His_profession">
                  <p class="name">
                    <%= experts[i].name %>
                  </p>
                  <p class="degreeNspeciality">
                    <%= experts[i].education[0].degree %> in <%=
                    experts[i].education[0].field %>
                  </p>

                  <p class="expertize">
                    <span class="fa fa-user-md">&nbsp;&nbsp;</span>
                    Experts in <%= experts[i].expertise %>
                  </p>
                  <p class="aff">
                    <span class="fa fa-user">&nbsp;&nbsp;</span>
                    <%= experts[i].designation %>
                  </p>
                  <p class="college">
                    <span class="fa fa-university">&nbsp;</span>
                    <%= experts[i].affiliation %>
                  </p>

                  <div class="bookingg">
                    <input
                      type="hidden"
                      name="docID"
                      value="<%=experts[i]._id%>"
                    />
                    <button class="viewProfile">
                      View Profile
                    </button>
                    <button
                      class="bookAppointment bA-btn"
                      id="bookAppointmentID"
                      data-id="<%=experts[i]._id%>"
                    >
                      Book appointment
                    </button>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/bookAppointment') %> <%-
    include('./partials/footer')%>
  </body>
  <%- include('./partials/vendorsBottom')%>
  <script>
    $('.bA-btn').on('click', (e) => {
      const id = $(e.target)[0].dataset.id;
      location = '/services/bookappointment/' + id;
    });
    $('.viewProfile').on('click', (e) => {
      const ID = $(e.target.parentNode.children[0]).val();
      location = '/services/doctor/profile/' + ID;
    });
    $('.search-btn').click((e) => {
      $('#form').submit();
    });
  </script>
</html>
