<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/vendorsTop')%>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" href="/css/register.css" />

        <title>Register | General User | Telepsychiatry Research</title>
</head>

<body>
    <section class="wrapper">
        <nav>
            <%- include('./partials/navbar')%>
        </nav>
        <div class="my-3 divider"></div>
        <div class="createResources">
            <div class="createResources__header">
                <p id="submitResources">Register General User</p>
            </div>
            <%- include('./partials/messages')%>
                <div id="alertF" class="alert alert-danger"></div>

                <div class="input_boxes">
                    <form id="form" action="/auth/register/new/gen" method="POST" enctype="multipart/form-data">
                        <div class="two_box flex-parent">
                            <div class="two_box_one flex-child">
                                <div class="two_box_header form-header">
                                    <p>First Name:</p>
                                </div>
                                <div class="input_box">
                                    <input type="text" id="fname" name="fname" placeholder="First name" />
                                </div>
                            </div>
                            <div class="two_box_one  flex-child">
                                <div class="two_box_header  form-header">
                                    <p>Last Name:</p>
                                </div>
                                <div>
                                    <div class="input_box">
                                        <input type="text" name="lname" id="lname" placeholder="Last name" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="two_box flex-parent">
                            <div class="two_box_one flex-child">
                                <div class="two_box_header form-header">
                                    <p>Email:</p>
                                </div>
                                <div class="input_box">
                                    <input type="text" name="email" id="email" placeholder="Email" />
                                </div>
                            </div>
                            <div class="two_box_one  flex-child">
                                <div class="two_box_header  form-header">
                                    <p>Phone Number:</p>
                                </div>
                                <div>
                                    <div class="input_box">
                                        <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="two_box flex-parent">
                            <div class="two_box_one flex-child">
                                <div class="two_box_header form-header">
                                    <p>Password:</p>
                                </div>
                                <div class="input_box">
                                    <input type="password" id="password" name="password" placeholder="password" />
                                </div>
                            </div>
                            <div class="two_box_one  flex-child">
                                <div class="two_box_header  form-header">
                                    <p>Confirm Password:</p>
                                </div>
                                <div>
                                    <div class="input_box">
                                        <input type="password" id="cPassword" name="cPassword" placeholder="Confirm Password" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="two_box flex-parent">
                            <div class="two_box_one  flex-child">
                                <div class="two_box_header  form-header">
                                    <p>Gender:</p>
                                </div>
                                <div class="input_box slct_picker">
                                    <div class="form-selectpicker">
                                        <select id="genderInput" class="selectpicker" data-width="100%" title="Gender" data-size="6" name="gender" required>
                      <option value="Male">Male</option>
                      <option value="Female"> Female </option>
                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="two_box_one flex-child">
                                <div class="two_box_header form-header">
                                    <p>Date of Birth:</p>
                                </div>
                                <div class="input_box">
                                    <input type="text" id="dob" name="dob" placeholder="Date Of Birth" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="two_box flex-parent">
                            <div class="two_box_one flex-child">
                                <div class="two_box_header form-header">
                                    <p>Highest Academic Degree:</p>
                                </div>
                                <div class="input_box">
                                    <input type="text" id="hADegree" name="hADegree" placeholder="Highest Academic Degree" />
                                </div>
                            </div>
                            <div class="two_box_one  flex-child">
                                <div class="two_box_header  form-header">
                                    <p>Current Affiliation:</p>
                                </div>
                                <div>
                                    <div class="input_box">
                                        <input type="text" id="cAffiliation" name="cAffiliation" placeholder="Current Affiliation" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="two_box flex-parent">
                            <div class="two_box_one  flex-child">
                                <div class="two_box_header  form-header">
                                    <p>Country:</p>
                                </div>
                                <div class="input_box slct_picker">
                                    <div class="form-selectpicker">
                                        <select class="selectpicker" id="countryInput" data-width="100%" title="Select Country" data-size="6" name="country" required>
                      <% for(let i = 0 ; i < country.length; i++) { %>
                      <option value="<%=country[i].name%>"
                        ><%=country[i].name%></option
                      >
                      <% } %>
                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="two_box_one flex-child">
                                <div class="two_box_header form-header">
                                    <p>Display Picture:</p>
                                </div>
                                <div class="input_box imageFile">
                                    <input id="imageFile" type="file" name="exp_user_propic" accept="image/x-png,image/jpg,image/jpeg" />
                                </div>
                            </div>
                        </div>
                        <div class="createResources__submit">
                            <button type="submit" id="sub-btn">Submit</button>
                        </div>
                    </form>
                </div>
        </div>
    </section>
</body>
<%- include('./partials/vendorsBottom')%>
    <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script src="/js/register_gen.js"></script>

</html>