<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <link rel="stylesheet" href="/css/admin_add_doctor.css" />

    <title>Register | Expert User | Telepsychiatry Research</title>
  </head>

  <body>
    <section class="admin_addDoctor_wrapper">
      <nav>
        <%- include('./partials/navbar')%>
      </nav>
      <div class="my-3 divider"></div>
      <div class="createResources addDoctor">
        <div class="container">
          <div id="alert" class="alert alert-danger"></div>
          <div class="header addDoctor__header">
            <p id="submitResources">Register Expert User</p>
          </div>
          <div class="input_boxes">
            <form id="form" action="/admin/postAddDoctor" method="POST">
              <div class="two_box_one flex-child">
                <div class="side_by_side">
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Name</p>
                    </div>
                    <input
                      type="text"
                      name="name"
                      placeholder="Name"
                      class="name"
                      id="name"
                    />
                  </div>
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Gender</p>
                    </div>
                    <div class="input_box slct_picker">
                      <div class="form-selectpicker">
                        <select
                          id="genderInput"
                          class="selectpicker"
                          data-width="100%"
                          title="Gender"
                          data-size="6"
                          name="gender"
                          required
                        >
                          <option value="Male">Male</option>
                          <option value="Female"> Female </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="two_box_one skill flex-child">
                <div id="speciality-section">
                  <div class="two_box_header  form-header">
                    <p>Professional Degree</p>
                  </div>
                  <div>
                    <div class="skill_input">
                      <div class="skill_in">
                        <input
                          type="text"
                          placeholder="Professional Degree"
                          id="prof-degreee"
                          class="prof-degree"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="two_box_one flex-child">
                <div class="side_by_side">
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Email</p>
                    </div>
                    <input
                      name="email"
                      type="email"
                      placeholder="Email"
                      class="email"
                      id="email"
                    />
                  </div>
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Designation</p>
                    </div>
                    <input
                      name="designation"
                      type="text"
                      placeholder="Designation"
                      class="designation"
                      id="designation"
                    />
                  </div>
                </div>
              </div>

              <div class="two_box_one flex-child">
                <div class="side_by_side">
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Password</p>
                    </div>
                    <input
                      name="password"
                      type="password"
                      placeholder="Password"
                      class="password"
                      id="password"
                    />
                  </div>
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Confirm Password</p>
                    </div>
                    <input
                      name="cpassword"
                      type="password"
                      placeholder="Confirm Password"
                      class="cpassword"
                      id="cpassword"
                    />
                  </div>
                </div>
              </div>

              <div class="two_box_one flex-child">
                <div class="side_by_side">
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Current Affiliation</p>
                    </div>
                    <input
                      name="affiliation"
                      type="text"
                      placeholder="Current Affiliation"
                      class="affiliation"
                      id="affiliation"
                    />
                  </div>
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Key Research Area</p>
                    </div>
                    <input
                      name="research-area"
                      type="password"
                      placeholder="Key Research Area"
                      class="research-area"
                      id="research-area"
                    />
                  </div>
                </div>
              </div>

              <div class="two_box_one flex-child">
                <div class="side_by_side">
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>License / Registration No.</p>
                    </div>
                    <input
                      name="regno"
                      type="text"
                      placeholder="License / Registration No."
                      class="regno"
                      id="regno"
                    />
                  </div>
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Country</p>
                    </div>
                    <select
                      class="selectpicker"
                      data-width="100%"
                      title="Select Country"
                      id="countryInput"
                      data-size="6"
                      required
                    >
                      <% for(let i = 0 ; i < country.length; i++) { %>
                      <option value="<%=i%>"><%= country[i].name %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>

              <div class="two_box_one flex-child">
                <div class="side_by_side">
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Phone Number</p>
                    </div>
                    <input
                      name="phone"
                      type="text"
                      placeholder="Phone Number"
                      class="phone"
                      id="phone"
                    />
                  </div>
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Display Picture</p>
                    </div>
                    <div class="input_box imageFile">
                      <input
                        type="file"
                        name="exp_user"
                        accept="image/x-png,image/jpg,image/jpeg"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="two_box_one flex-child">
                <div class="side_by_side">
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Date of Birth</p>
                    </div>
                    <input
                      name="dob"
                      type="text"
                      placeholder="Date of Birth"
                      class="dob"
                      id="dob"
                    />
                  </div>
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Visiting Fee</p>
                    </div>
                    <input
                      name="visitingFee"
                      type="text"
                      placeholder="Visiting Fee"
                      class="visitingFee"
                      id="visitingFee"
                    />
                  </div>
                </div>
              </div>

              <div class="two_box_one skill flex-child">
                <div id="visitingHour-section">
                  <div class="two_box_header  form-header">
                    <p>Visiting Hour</p>
                  </div>
                  <div>
                    <div class="visitingHour_input">
                      <div class="arrow_sign" style="margin-right: 20px;">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="visitingHour_in">
                        <select
                          name=""
                          title="From"
                          id="vhFrom"
                          class="vh-selector"
                        >
                          <% for (let i=1; i<12; i++) { %>
                          <option value="<%= i %>"><%= i %>AM</option>
                          <% } %> <% for (let i=1; i<12; i++) { %>
                          <option value="<%= i %>"><%= i %>PM</option>
                          <% } %>
                        </select>
                      </div>
                      <div class="visitingHour_in">
                        <select
                          name=""
                          title="To"
                          id="vhTo"
                          class="vh-selector"
                        >
                          <% for (let i=1; i<12; i++) { %>
                          <option value="<%= i %>"><%= i %>AM</option>
                          <% } %> <% for (let i=1; i<12; i++) { %>
                          <option value="<%= i %>"><%= i %>PM</option>
                          <% } %>
                        </select>
                      </div>
                      <div class="visitingHour_in">
                        <select
                          name=""
                          title="Days"
                          id="vDay"
                          class="vh-selector"
                        >
                          <option value="Saturday">Saturday</option>
                          <option value="Sunday">Sunday</option>
                          <option value="Monday">Monday</option>
                          <option value="Tuesday">Tuesday</option>
                          <option value="Wednesday">Wednesday</option>
                          <option value="Thursday">Thursday</option>
                          <option value="Friday">Friday</option>
                        </select>
                      </div>
                      <div class="visitingHour_in">
                        <input
                          type="text"
                          placeholder="Visiting Place"
                          id="vPlace"
                          class=""
                        />
                      </div>
                      <div class="delete-btn">
                        <button class="delete delete-vh-class" id="delete-vh">
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="add-vh" class="add-field">
                  <i class="fa fa-plus plus"></i>Add Field
                </button>
              </div>

              <div class="two_box_one skill flex-child">
                <div id="speciality-section">
                  <div class="two_box_header  form-header">
                    <p>Speciality</p>
                  </div>
                  <div>
                    <div class="skill_input">
                      <div class="skill_in">
                        <input
                          type="text"
                          placeholder="Speciality"
                          id="speciality"
                          class="speciality"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="two_box_one flex-child">
                <div class="side_by_side">
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Expertize Area</p>
                    </div>
                    <input
                      name="expertise"
                      type="text"
                      placeholder="Expert Area"
                      class="expertise"
                      id="expertise"
                    />
                  </div>
                  <div class="input_div">
                    <div class="two_box_header form-header">
                      <p>Institute</p>
                    </div>
                    <input
                      name="institute"
                      type="text"
                      placeholder="Institute"
                      class="institute"
                      id="institute"
                    />
                  </div>
                </div>
              </div>

              <div class="two_box_one flex-child">
                <div class="two_box_header form-header">
                  <p>About Yourself</p>
                </div>
                <textarea
                  name="about_me"
                  placeholder="Write about yourself"
                  id="about_me"
                  cols="30"
                  rows="5"
                  class="about_me"
                ></textarea>
              </div>

              <div class="two_box_one  flex-child">
                <div class="" id="education-section">
                  <div class="two_box_header form-header">
                    <p>Education</p>
                  </div>
                  <div>
                    <div class="education_input">
                      <div class="arrow_sign">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="edu_in">
                        <input
                          type="text"
                          name="institute"
                          placeholder="Institute"
                          id="institute"
                          class="institute"
                        />
                      </div>
                      <div class="edu_in">
                        <input
                          type="text"
                          name="degree"
                          placeholder="Degree"
                          id="degree"
                          class="degree"
                        />
                      </div>
                      <div class="edu_in">
                        <select
                          id="eduFrom"
                          class="selectpicker year-selector-from"
                          data-width="100%"
                          title="From"
                          data-size="6"
                          name="eduFrom"
                          required
                        >
                          <% for (let i=1950; i<2021; i++) { %>
                          <option value="<%= i %>"><%= i %></option>
                          <% } %>
                        </select>
                      </div>
                      <div class="edu_in">
                        <select
                          id="eduTo"
                          class="selectpicker year-selector-to"
                          data-width="100%"
                          title="To"
                          data-size="6"
                          name="eduTo"
                          required
                        >
                          <% for (let i=1950; i<2021; i++) { %>
                          <option value="<%= i %>"><%= i %></option>
                          <% } %>
                        </select>
                      </div>
                      <div class="delete-btn">
                        <button class="delete delete-edu-class" id="delete-edu">
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="add-edu" class="add-field">
                  <i class="fa fa-plus plus"></i>Add Field
                </button>
              </div>

              <div class="two_box_one skill flex-child">
                <div id="skill-section">
                  <div class="two_box_header  form-header">
                    <p>Services</p>
                  </div>
                  <div>
                    <div class="skill_input">
                      <div class="arrow_sign" style="margin-right: 20px;">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="skill_in">
                        <input
                          type="text"
                          placeholder="Services"
                          id="skill"
                          class="services"
                        />
                      </div>
                      <div class="delete-btn">
                        <button
                          class="delete delete-skill-class"
                          id="delete-skill"
                        >
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="add-skill" class="add-field">
                  <i class="fa fa-plus plus"></i>Add Field
                </button>
              </div>

              <div class="two_box_one skill flex-child">
                <div id="training-section">
                  <div class="two_box_header  form-header">
                    <p>Professional Training</p>
                  </div>
                  <div>
                    <div class="training_input">
                      <div class="arrow_sign" style="margin-right: 20px;">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="training_in">
                        <input
                          type="text"
                          placeholder="Professional Training"
                          id="prof-trianing"
                          class="prof-trianing"
                        />
                      </div>
                      <div class="delete-btn">
                        <button
                          class="delete delete-training-class"
                          id="delete-training"
                        >
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="add-training" class="add-field">
                  <i class="fa fa-plus plus"></i>Add Field
                </button>
              </div>

              <div class="two_box_one skill flex-child">
                <div id="awards-section">
                  <div class="two_box_header  form-header">
                    <p>Awards and Honors</p>
                  </div>
                  <div>
                    <div class="awards_input">
                      <div class="arrow_sign" style="margin-right: 20px;">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="awards_in">
                        <input
                          type="text"
                          placeholder="Awards and Honors"
                          id="awards"
                          class="awards"
                        />
                      </div>
                      <div class="delete-btn">
                        <button
                          class="delete delete-awards-class"
                          id="delete-awards"
                        >
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="add-awards" class="add-field">
                  <i class="fa fa-plus plus"></i>Add Field
                </button>
              </div>

              <div class="two_box_one skill flex-child">
                <div class="" id="exp-section">
                  <div class="two_box_header form-header">
                    <p>Work and Experiences</p>
                  </div>
                  <div>
                    <div class="exp_input">
                      <div class="arrow_sign">
                        <i
                          class="fa fa-arrow-right"
                          style="margin-right: 20px;"
                        ></i>
                      </div>
                      <div class="work_in">
                        <input
                          type="text"
                          placeholder="Workplace or Experience"
                          id="workplace"
                          class="workplace"
                        />
                        <textarea
                          name="inDetails"
                          placeholder="Tell us about your work and experience"
                          id="more_on_workplace"
                          cols="30"
                          rows="5"
                          class="more_on_workplace"
                        ></textarea>
                      </div>
                      <div class="delete-btn">
                        <button class="delete delete-exp-class" id="delete-exp">
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button id="add-exp" class="add-field">
                  <i class="fa fa-plus plus"></i>Add Field
                </button>
              </div>

              <div class="addDoctor__submit">
                <button id="sub-btn">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
  <%- include('./partials/vendorsBottom')%>

  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
  ></script>
  <script>
    $('.add-field').click(e => {
      e.preventDefault();
    });
    $('.delete').click(e => {
      e.preventDefault();
    });
    $(document).on('click', 'button.delete', e => {
      e.preventDefault();
    });

    $('input[name="datetimes"]').daterangepicker({
      autoUpdateInput: false,
      timePicker: true,
      startDate: moment().startOf('hour'),
      endDate: moment()
        .startOf('hour')
        .add(32, 'hour'),
      locale: {
        cancelLabel: 'Clear'
      }
    });

    $('input[name="datetimes"]').on('apply.daterangepicker', function(
      ev,
      picker
    ) {
      $(this).val(
        picker.startDate.format('DD/MM/YYYY') +
          ' - ' +
          picker.endDate.format('DD/MM/YYYY')
      );
    });

    $('input[name="datetimes"]').on('cancel.daterangepicker', function(
      ev,
      picker
    ) {
      $(this).val('');
    });
  </script>
  <script>
    let edu = 1,
      skill = 1,
      exp = 1;
    vh = 1;
    awards = 1;
    training = 1;

    $(document).on('click', 'input#app_years', function(e) {
      console.log('year');
      $(e.target).daterangepicker({
        autoUpdateInput: false,
        locale: {
          cancelLabel: 'Clear'
        }
      });
      $('input#app_years').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(
          picker.startDate.format('DD/MM/YYYY') +
            ' - ' +
            picker.endDate.format('DD/MM/YYYY')
        );
      });

      $('input#app_years').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
      });
    });

    $('#add-training').click(e => {
      const trainingField = `<div class="training_input">
                                        <div class="arrow_sign" style="margin-right: 20px;">
                                            <i class="fa fa-arrow-right"></i>
                                        </div>
                                        <div class="training_in">
                                            <input type="text" placeholder="Professional Training" id="prof-trianing" class="prof-trianing" />
                                        </div>
                                        <div class="delete-btn">
                                            <button class="delete delete-training-class" id="delete-training">
                          <i class="fa fa-minus"></i>
                        </button>
                                        </div>
                                    </div>`;
      training++;
      $('#training-section').append(trainingField);
    });
    $(document).on('click', 'button.delete-training-class i', e => {
      if (training > 1) {
        training--;
        $(e.target.parentElement.parentElement.parentElement).remove();
      }
    });

    $('#add-awards').click(e => {
      const awardsField = `
                                    <div class="awards_input">
                                        <div class="arrow_sign" style="margin-right: 20px;">
                                            <i class="fa fa-arrow-right"></i>
                                        </div>
                                        <div class="awards_in">
                                            <input type="text" placeholder="Awards and Honors" id="awards" class="awards" />
                                        </div>
                                        <div class="delete-btn">
                                            <button class="delete delete-awards-class" id="delete-awards">
                          <i class="fa fa-minus"></i>
                        </button>
                                        </div>
                                    </div>
                                `;
      awards++;
      $('#awards-section').append(awardsField);
    });
    $(document).on('click', 'button.delete-awards-class i', e => {
      if (awards > 1) {
        awards--;
        $(e.target.parentElement.parentElement.parentElement).remove();
      }
    });

    $('#add-vh').click(e => {
      const vhField = `<div class="visitingHour_input">
                                        <div class="arrow_sign" style="margin-right: 20px;">
                                            <i class="fa fa-arrow-right"></i>
                                        </div>
                                        <div class="visitingHour_in">
                                            <select name="" title="From" id="vhFrom" class="vh-selector">
                                                <% for (let i=1; i<12; i++) { %>
                                                    <option value="<%= i %>" ><%= i %>AM</option>
                                                    <% } %>
                                                <% for (let i=1; i<12; i++) { %>
                                                        <option value="<%= i %>" ><%= i %>PM</option>
                                                <% } %>
                                                </select>
                                        </div>
                                        <div class="visitingHour_in">
                                            <select name="" title="To" id="vhTo" class="vh-selector">
                                                <% for (let i=1; i<12; i++) { %>
                                                    <option value="<%= i %>" ><%= i %>AM</option>
                                                    <% } %>
                                                <% for (let i=1; i<12; i++) { %>
                                                        <option value="<%= i %>" ><%= i %>PM</option>
                                                <% } %>
                                                </select>
                                        </div>
                                        <div class="visitingHour_in">
                                            <select name="" title="Days" id="vDay" class="vh-selector">
                                                <option value="Saturday">Saturday</option>
                                                <option value="Sunday">Sunday</option>
                                                <option value="Monday">Monday</option>
                                                <option value="Tuesday">Tuesday</option>
                                                <option value="Wednesday">Wednesday</option>
                                                <option value="Thursday">Thursday</option>
                                                <option value="Friday">Friday</option>
                                            </select>
                                        </div>
                                        <div class="visitingHour_in">
                                            <input type="text" placeholder="Visiting Place" id="vPlace" class="">
                                        </div>
                                        <div class="delete-btn">
                                            <button class="delete delete-vh-class" id="delete-vh">
                          <i class="fa fa-minus"></i>
                        </button>
                                        </div>
                                    </div>`;
      vh++;
      $('#visitingHour-section').append(vhField);
    });
    $(document).on('click', 'button.delete-vh-class i', e => {
      if (vh > 1) {
        vh--;
        $(e.target.parentElement.parentElement.parentElement).remove();
      }
    });

    document.getElementById('add-edu').addEventListener('click', e => {
      const edu_field = `<div class="education_input">
                     <div class="arrow_sign">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                        <div class="edu_in">
                            <input
                            type="text"
                            placeholder="Institute"
                            id="institute"
                            class="institute"
                            />
                        </div>
                        <div class="edu_in">
                            <input
                            type="text"
                            placeholder="Degree"
                            id="degree"
                            class="degree"
                            />
                        </div>
                        <div class="edu_in">
                        <select
                          id="eduFrom"
                          class="selectpicker year-selector-from additional-from"
                          data-width="100%"
                          title="From"
                          data-size="6"
                          name="eduFrom"
                          required
                        >
                          <% for (let i=1950; i<2021; i++) { %>
                          <option value="<%= i %>"><%= i %></option>
                          <% } %>
                        </select>
                      </div>
                      <div class="edu_in">
                        <select
                          id="eduTo"
                          class="selectpicker year-selector-to  additional-to"
                          data-width="100%"
                          title="To"
                          data-size="6"
                          name="eduTo"
                          required
                        >
                          <% for (let i=1950; i<2021; i++) { %>
                          <option value="<%= i %>"><%= i %></option>
                          <% } %>
                        </select>
                      </div>
                        <div class="delete-btn">
                            <button class="delete delete-edu-class" id="delete-edu">
                            <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>`;
      edu++;
      $('#education-section').append(edu_field);

      console.log($('.additional-from'));
      console.log($('.year-selector-to'));

      $('.additional-from').selectpicker('refresh');
      $('.additional-from').css('width', '100%');

      $('.additional-to').selectpicker('refresh');
      $('.additional-to').css('width', '100%');
    });
    $(document).on('click', 'button.delete-edu-class i', e => {
      if (edu > 1) {
        edu--;
        $(e.target.parentElement.parentElement.parentElement).remove();
      }
    });

    $('#add-skill').click(e => {
      const edu_field = `<div class="skill_input">
                    <div class="arrow_sign" style="margin-right: 20px;">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                            <div class="skill_in">
                                <input
                                type="text"
                                placeholder="Services"
                                id="services"
                                class="services"
                                />
                            </div>
                            <div class="delete-btn">
                                <button class="delete delete-skill-class" id="delete-skill">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>`;
      skill++;
      $('#skill-section').append(edu_field);
    });
    $(document).on('click', 'button.delete-skill-class i', e => {
      if (skill > 1) {
        skill--;
        $(e.target.parentElement.parentElement.parentElement).remove();
      }
    });

    $('#add-exp').click(e => {
      const edu_field = `<div class="exp_input">
                    <div class="arrow_sign" style="margin-right: 20px;">
                        <i class="fa fa-arrow-right"></i>
                      </div>
                      <div class="work_in">
                        <input
                          type="text"
                          placeholder="Workplace or Experience"
                          id="workplace"
                          class="workplace"
                        />
                        <textarea
                          name="inDetails"
                          placeholder="Tell us about your work and experience"
                          id="more_on_workplace"
                          cols="30"
                          rows="5"
                          class="more_on_workplace"
                        ></textarea>
                      </div>
                      <div class="delete-btn">
                        <button class="delete delete-exp-class" id="delete-exp">
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                    </div>`;
      exp++;
      $('#exp-section').append(edu_field);
    });
    $(document).on('click', 'button.delete-exp-class i', e => {
      if (exp > 1) {
        exp--;
        console.log(exp);
        $(e.target.parentElement.parentElement.parentElement).remove();
      }
    });

    function showAlert(msg) {
      $('#alert').show();
      $('#alert').html(msg);
    }
  </script>
  <script>
    function showAlert(msg) {
      $('#alert').show();
      $('#alert').html(msg);
    }
  </script>

  <script>
    $('input[name="dob"]').daterangepicker({
      autoUpdateInput: false,
      singleDatePicker: true,
      showDropdowns: true,
      minYear: 1930,
      maxYear: parseInt(moment().format('YYYY'), 10),
      locale: {
        cancelLabel: 'Clear'
      }
    });

    $('input[name="dob"]').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD/MM/YYYY'));
    });

    $('input[name="dob"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
    });
  </script>

  <script>
    $('.addDoctor__submit').on('click', e => {
      const name = $('#name').val();
      const gender = $('#gender').val();
      const designation = $('#designation').val();
      const expertise = $('#expertise').val();
      const about_me = $('#about_me').val();
      const institute = $('#institute').val();
      const dob = $('#dob').val();
      const speciality = $('#speciality').val();
      const visitingFee = $('#visitingFee').val();
      const email = $('#email').val();
      const phone = $('#phone').val();
      const affiliation = $('#affiliation').val();
      const country = $('#country').val();
      const reserchArea = $('#research-area').val();
      const regno = $('#regno').val();

      const vhInput = $('.visitingHour_in select');
      const vPlaceInput = $('.visitingHour_in input');
      const workExpInput = $('.work_in input');
      const workExpTextarea = $('.work_in textarea');
      const serviceInValue = $('.skill_in input');
      const eduInValue = $('.edu_in input');
      const eduInSelect = $('.edu_in select');
      const trainingInput = $('.training_in input');
      const awardsInput = $('.awards_in input');

      const vhArray = [];
      const eduArray = [];
      const serviceArray = [];
      const workExpArray = [];
      const awardsArray = [];
      const trainingArray = [];

      for (let i = 0; i < eduInValue.length / 2; i++) {
        const education = eduInValue[2 * i + 0].value;
        const degree = eduInValue[2 * i + 1].value;
        const eduFrom = eduInSelect[2 * i + 0].value;
        const eduTo = eduInSelect[2 * i + 1].value;
        eduArray.push({
          education,
          degree,
          eduFrom,
          eduTo
        });
      }
      for (let i = 0; i < serviceInValue.length; i++) {
        const service = serviceInValue[i].value;
        serviceArray.push(service);
      }
      for (let i = 0; i < trainingInput.length; i++) {
        const training = trainingInput[i].value;
        trainingArray.push(training);
      }
      for (let i = 0; i < awardsInput.length; i++) {
        const award = awardsInput[i].value;
        awardsArray.push(award);
      }
      for (let i = 0; i < workExpInput.length; i++) {
        const work = workExpInput[i].value;
        const inDetails = workExpTextarea[i].value;
        workExpArray.push({
          work,
          inDetails
        });
      }

      for (let i = 0; i < vhInput.length / 3; i++) {
        const vhFrom = vhInput[3 * i].value;
        const vhTo = vhInput[3 * i + 1].value;
        const vDay = vhInput[3 * i + 2].value;
        const vPlace = vPlaceInput[i].value;
        vhArray.push({
          vhFrom,
          vhTo,
          vDay,
          vPlace
        });
      }
      console.log(awardsArray);
      postData = {
        name,
        gender,
        institute,
        expertise,
        designation,
        speciality,
        dob,
        email,
        phone,
        affiliation,
        regno,
        reserchArea,
        country,
        fee: visitingFee,
        aboutYourself: about_me,
        trainingArray: JSON.stringify(trainingArray),
        awardsArray: JSON.stringify(awardsArray),
        visitingHour: JSON.stringify(vhArray),
        education: JSON.stringify(eduArray),
        workExperience: JSON.stringify(workExpArray),
        services: JSON.stringify(serviceArray)
      };
      $.ajax({
        type: 'POST',
        url: '/auth/register/new/exp',
        data: postData,
        success: data => {
          console.log(data);
        }
      });
      location.reload();
    });
  </script>
</html>
