<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/vendorsTop')%>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" href="/css/register.css" />

        <title>Register | organization | Telepsychiatry Research</title>
</head>

<body>
    <section class="wrapper">
        <nav>
            <%- include('./partials/navbar')%>
        </nav>
        <div class="my-3 divider"></div>
        <div class="createResources">
            <div id="alert" class="alert alert-danger"></div>
            <div class="createResources__header">
                <p id="submitResources">Register Organization</p>
            </div>
            <div class="input_boxes">
                <form id="form" action="/auth/register/new/org" method="POST">
                    <div class="two_box flex-parent">
                        <div class="two_box_one flex-child">
                            <div class="two_box_header form-header">
                                <p>Organization Name:</p>
                            </div>
                            <div class="input_box">
                                <input type="text" name="name" id="name" placeholder="Name" />
                            </div>
                        </div>
                        <div class="two_box_one  flex-child">
                            <div class="two_box_header  form-header">
                                <p>Type of organizations:</p>
                            </div>
                            <div class="input_box slct_picker">
                                <div class="form-selectpicker">
                                    <input type="hidden" name="org_type" id="org_type">
                                    <select class="selectpicker" data-width="100%" title="Type of organizations" id="org_typeInput" data-size="6" required>
                      <option value="Profitable">Profitable</option>
                      <option value="Non-Profitable"> Non-Profitable </option>
                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two_box flex-parent">
                        <div class="two_box_one flex-child">
                            <div class="two_box_header form-header">
                                <p>Year of Establishment:</p>
                            </div>
                            <div class="input_box slct_picker">
                                <div class="form-selectpicker">
                                    <input type="hidden" name="establish_year" id="establish_year">
                                    <select class="selectpicker" data-width="100%" title="Select Year" id="establish_yearInput" data-size="6" required>
                      <% for(let i = new Date().getFullYear() ; i >= 1800; i--)
                      { %>
                      <option value="<%=i%>"><%=i%></option>
                      <% } %>
                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="two_box_one  flex-child">
                            <div class="two_box_header  form-header">
                                <p>Website Link:</p>
                            </div>
                            <div>
                                <div class="input_box">
                                    <input type="text" name="websiteLink" id="websiteLink" placeholder="Website Link" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two_box flex-parent">
                        <div class="two_box_one  flex-child">
                            <div class="two_box_header  form-header">
                                <p>Region:</p>
                            </div>
                            <div class="input_box slct_picker">
                                <div class="form-selectpicker">
                                    <input type="hidden" name="region" id="region">
                                    <select class="selectpicker" data-width="100%" title="Region" id="regionInput" data-size="6" required>
                      <% for(let i = 0 ; i < country.length; i++) { %>
                      <option value="<%=i%>"><%=country[i].name%></option>
                      <% } %>
                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="two_box_one flex-child">
                            <div class="two_box_header form-header">
                                <p>Authorized Person Name:</p>
                            </div>
                            <div class="input_box">
                                <input type="text" name="authName" id="authName" placeholder="Authorized Person Name" />
                            </div>
                        </div>
                    </div>
                    <div class="two_box flex-parent">
                        <div class="two_box_one flex-child">
                            <div class="two_box_header  form-header">
                                <p>Authorized Person Email:</p>
                            </div>
                            <div>
                                <div class="input_box">
                                    <input type="text" name="authEmail" id="authEmail" placeholder="Authorized Person Email" />
                                </div>
                            </div>
                        </div>
                        <div class="two_box_one  flex-child">
                            <div class="two_box_header  form-header">
                                <p>Contact Mobile Number:</p>
                            </div>
                            <div>
                                <div class="input_box">
                                    <input type="text" id="authPhoneNumber" name="authPhoneNumber" placeholder="Mobile Number" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two_box flex-parent">
                        <div class="two_box_one flex-child">
                            <div class="two_box_header form-header">
                                <p>Password:</p>
                            </div>
                            <div class="input_box">
                                <input type="password" id="password" name="password" placeholder="Password" />
                            </div>
                        </div>
                        <div class="two_box_one  flex-child">
                            <div class="two_box_header  form-header">
                                <p>Confirm Password:</p>
                            </div>
                            <div>
                                <div class="input_box">
                                    <input type="password" id="cPassword" name="cPassword" placeholder="Confirm Password" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="createResources__submit">
                        <button id="sub-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<%- include('./partials/vendorsBottom')%>
    <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $('input[name="dob"]').daterangepicker({
            autoUpdateInput: false,
            singleDatePicker: true,
            showDropdowns: true,
            minYear: 1930,
            maxYear: parseInt(moment().format('YYYY'), 10),
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('input[name="dob"]').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY'));
        });

        $('input[name="dob"]').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });

        function showAlert(msg) {
            $('#alert').show()
            $('#alert').html(msg)
        }

        $('#sub-btn').click((e) => {
            e.preventDefault()
            let error = false
            const nameRegex = new RegExp("^[a-zA-Z ]+$")
            const emailRegex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/
            const phoneRegex = /\w+/i

            const name = $('#name').val()
            const authName = $('#authName').val()
            const authPhoneNumber = $('#authPhoneNumber').val()
            const authEmail = $('#authEmail').val()
            const password = $('#password').val()
            const cPassword = $('#cPassword').val()
            const websiteLink = $('#websiteLink').val()
            $('#establish_year').val($('#establish_yearInput').val())
            $('#region').val($('#regionInput').val())
            $('#org_type').val($('#org_typeInput').val())

            if (name == '') {
                error = true
                showAlert('Invalid organization name')
            } else if (!emailRegex.test(authEmail)) {
                error = true
                showAlert('Invalid authorised person email')
            } else if (!phoneRegex.test(authPhoneNumber) || authPhoneNumber.length < 6) {
                error = true
                showAlert('Invalid authorised person phone number')
            } else if (!nameRegex.test(authName)) {
                error = true
                showAlert('Invalid authorised person name')
            } else if (password == '') {
                error = true
                showAlert('Enter password')
            } else if (password.length < 6) {
                error = true
                showAlert('Password must contain at least 6 characters')
            } else if (cPassword == '') {
                error = true
                showAlert('Confirm password')
            } else if (password != cPassword) {
                error = true
                showAlert('Passwords do not match')
            } else if ($('#establish_year').val() == '') {
                error = true
                showAlert('Select the year of establishment')
            } else if ($('#region').val() == '') {
                error = true
                showAlert('Select the region')
            } else if ($('#org_type').val() == '') {
                error = true
                showAlert('Select the type of organization')
            } else if (websiteLink == '') {
                error = true
                showAlert('Enter the website link')
            }

            if (!error) {
                console.log('submitted')
                $('#form').submit()
            }
        })
    </script>

</html>