<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <link rel="stylesheet" href="/css/register.css" />

    <title>Register | Expert User | Telepsychiatry Research</title>
  </head>

  <body>
    <section class="wrapper">
      <nav>
        <%- include('./partials/navbar')%>
      </nav>
      <div class="my-3 divider"></div>
      <div class="createResources">
        <div class="createResources__header">
          <p id="submitResources">Register Expert User</p>
        </div>
        <div class="input_boxes">
          <form>
            <div class="two_box flex-parent">
              <div class="two_box_one flex-child">
                <div class="two_box_header form-header"><p>First Name:</p></div>
                <div class="input_box">
                  <input type="text" name="authors" placeholder="Authors" />
                </div>
              </div>
              <div class="two_box_one  flex-child">
                <div class="two_box_header  form-header">
                  <p>Last Name:</p>
                </div>
                <div>
                  <div class="input_box">
                    <input type="text" name="authors" placeholder="Authors" />
                  </div>
                </div>
              </div>
            </div>
            <div class="two_box flex-parent">
              <div class="two_box_one flex-child">
                <div class="two_box_header form-header"><p>Email:</p></div>
                <div class="input_box">
                  <input
                    type="text"
                    name="email"
                    placeholder="Email (preferably organizational email)"
                  />
                </div>
              </div>
              <div class="two_box_one  flex-child">
                <div class="two_box_header  form-header">
                  <p>Phone Number:</p>
                </div>
                <div>
                  <div class="input_box">
                    <input
                      type="text"
                      name="phoneNumber"
                      placeholder="Phone Number"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="two_box flex-parent">
              <div class="two_box_one flex-child">
                <div class="two_box_header form-header"><p>Password:</p></div>
                <div class="input_box">
                  <input type="text" name="password" placeholder="password" />
                </div>
              </div>
              <div class="two_box_one  flex-child">
                <div class="two_box_header  form-header">
                  <p>Confirm Password:</p>
                </div>
                <div>
                  <div class="input_box">
                    <input
                      type="text"
                      name="cPassword"
                      placeholder="Confirm Password"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="two_box flex-parent">
              <div class="two_box_one  flex-child">
                <div class="two_box_header  form-header">
                  <p>Gender:</p>
                </div>
                <div class="input_box slct_picker">
                  <div class="form-selectpicker">
                    <select
                      class="selectpicker"
                      data-width="100%"
                      title="Gender"
                      name="gender"
                      data-size="6"
                      required
                    >
                      <option value="Male">Male</option>
                      <option value="Female"> Female </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="two_box_one flex-child">
                <div class="two_box_header form-header">
                  <p>Date of Birth:</p>
                </div>
                <div class="input_box">
                  <input
                    type="text"
                    name="dob"
                    placeholder="Date Of Birth"
                    autocomplete="off"
                  />
                </div>
              </div>
            </div>
            <div class="two_box flex-parent">
              <div class="two_box_one flex-child">
                <div class="two_box_header form-header">
                  <p>Highest Academic Degree:</p>
                </div>
                <div class="input_box">
                  <input
                    type="text"
                    name="hADegree"
                    placeholder="Highest Academic Degree"
                  />
                </div>
              </div>
              <div class="two_box_one  flex-child">
                <div class="two_box_header  form-header">
                  <p>Current Affiliation:</p>
                </div>
                <div>
                  <div class="input_box">
                    <input
                      type="text"
                      name="cAffiliation"
                      placeholder="Current Affiliation"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="two_box flex-parent">
              <div class="two_box_one flex-child">
                <div class="two_box_header form-header">
                  <p>License / Registration no:</p>
                </div>
                <div class="input_box">
                  <input
                    type="text"
                    name="identifyNo"
                    placeholder="License or Registration no"
                  />
                </div>
              </div>
              <div class="two_box_one  flex-child">
                <div class="two_box_header  form-header">
                  <p>Key Research Area:</p>
                </div>
                <div>
                  <div class="input_box">
                    <input
                      type="text"
                      name="researchArea"
                      placeholder="Key Research Area"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="two_box flex-parent">
              <div class="two_box_one  flex-child">
                <div class="two_box_header  form-header">
                  <p>Country:</p>
                </div>
                <div class="input_box slct_picker">
                  <div class="form-selectpicker">
                    <select
                      class="selectpicker"
                      data-width="100%"
                      title="Select Country"
                      name="country"
                      data-size="6"
                      required
                    >
                      <% for(let i = 0 ; i < country.length; i++) { %>
                      <option value="<%=i%>"><%=country[i].name%></option>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="two_box_one flex-child">
                <div class="two_box_header form-header">
                  <p>Display Picture:</p>
                </div>
                <div class="input_box imageFile">
                  <input
                    type="file"
                    name="myImage"
                    accept="image/x-png,image/jpg,image/jpeg"
                  />
                </div>
              </div>
            </div>
          </form>
          <div class="createResources__submit">
            <button>Submit</button>
          </div>
        </div>
      </div>
    </section>
  </body>
  <%- include('./partials/vendorsBottom')%>
  <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>

  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
  ></script>
  <script>
    ClassicEditor.create(document.querySelector('#editor'))
      .then(editor => {
        console.log(editor);
      })
      .catch(error => {
        console.error(error);
      });

    $('input[name="dob"]').daterangepicker({
      autoUpdateInput: false,
      singleDatePicker: true,
      showDropdowns: true,
      minYear: 1930,
      maxYear: parseInt(moment().format('YYYY'), 10),
      locale: {
        cancelLabel: 'Clear'
      }
    });

    $('input[name="dob"]').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD/MM/YYYY'));
    });

    $('input[name="dob"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
    });
  </script>
</html>
