<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/authentication_log.css" />
    <title>Login | Telepsychiatry Research</title>
  </head>

  <body>
    <div>
      <div style="min-height: 100vh;">
        <header>
          <nav>
            <%- include('./partials/navbar')%>
          </nav>
          <div class="blueDivider">
            <div class="smallText">
              <p><a href="#">Authentication</a></p>
            </div>
            <div class="bigText">
              <p>Sign in</p>
            </div>
          </div>
        </header>

        <section class="auth">
          <div class="flx-prnt">
            
            <div class="flx-chld">
              <div class="auth_wrapper_form">
                <div class="auth_wrapper">
                  <!-- <div class="auth_header">
                    <h1>Login</h1>
                  </div> -->
                  <% if (errorMessage != '') { %>
                  <div class="alert alert-danger text-center">
                    <%= errorMessage %> 
                  </div>
                  <% } %>
                  <div class="alert alert-warning alert-dismissible fade show" role="alert" id="errorMsgForgotPass" style="display: none;" >
                    <p id="receivedErrMsg"> error</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="alert alert-success alert-dismissible fade show" role="alert" id="successMsgForgotPass" style="display: none;">
                    <p id="receivedSuccessMsg"> success</p>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="auth_form">
                    <h3>Please change your password</h3>
                    <form action="/auth/resetPass" method="POST">                      
                      <div class="inputField">
                        <!-- <div class="inputField_label">
                          <p>Email</p>
                        </div> -->
                        <div class="inputField_textbox">
                          <input
                            type="password"
                            name="password"
                            id="password"
                            placeholder="New Password"
                            required
                          />
                        </div>
                      </div>

                      <div class="inputField">
                        <!-- <div class="inputField_label">
                          <p>Password</p>
                        </div> -->
                        <div class="inputField_textbox">
                          <input
                            type="password"
                            id="cPassword"
                            name="cPassword"
                            placeholder="Confirm Password"
                            required
                          />                          
                        </div>
                      </div>

                      <div class="submit">
                        <button type="submit" class="btn btn-dark">Submit</button>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <%- include('./partials/register_forgetPassword') %> <%-
    include('./partials/register_selectCategory') %>
  </body>
  <%- include('./partials/vendorsBottom')%>

  <script></script>
</html>
