<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <%- include('./partials/vendorsTop')%>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
        <link rel="stylesheet" href="/css/singleInstitution.css" />
        <title>Single Institution | Telepsychiatry Research</title>
</head>
<%- include('./partials/vendorsTop')%>

    <body>
        <header>
            <nav class="cnav">
                <%- include('./partials/navbar')%>
            </nav>
            <div class="my-3 divider"></div>
        </header>

        <div class="content-wrapper">
            <div class="first-row">
                <div class="middle-section">
                    <div class="title">
                        <p>Liver Profile</p>
                    </div>
                    <div class="description">
                        <p>
                            Liver function tests check the levels of certain enzymes and proteins in your blood. Levels that are higher or lower than normal can indicate liver problems. Certain foods and medications can affect the results of your liver function tests. Your doctor
                            will probably ask you to avoid eating food and taking some medications before your blood is drawn.
                        </p>
                    </div>
                    <div class="price">
                        <div class="bdt">
                            Price <strong>125</strong> BDT
                        </div>
                        <div class="mobile-buy-btn">
                            <button>Buy</button>
                        </div>
                    </div>
                    <div class="service-list">
                        <div class="section-header">
                            <p>This package includes</p>
                            <button>Buy this package</button>
                        </div>
                        <p><i class="fa fa-check-circle"></i> <strong>Alanine transaminase</strong> ALT levels would rise during the second trimester </p>
                        <p><i class="fa fa-check-circle"></i> <strong>Aspartate transaminase</strong> An increase in AST levels may indicate liver damage</p>
                        <p><i class="fa fa-check-circle"></i> <strong>Alkaline phosphatase</strong> Lower-than-normal levels of albumin and total protein may indicate liver damage. </p>
                        </p>
                        <p><i class="fa fa-check-circle"></i> <strong>Alkaline phosphatase</strong> Lower-than-normal levels of albumin and total protein may indicate liver damage. </p>
                        </p>
                        <p><i class="fa fa-check-circle"></i> <strong>Alkaline phosphatase</strong> Lower-than-normal levels of albumin and total protein may indicate liver damage. </p>
                        </p>
                    </div>
                    <div class="service-list">
                        <div class="section-header">
                            <p>Why this package</p>
                            <!-- <hr /> -->
                        </div>
                        <p>
                            <i class="fa fa-plus-square"></i> Screen for liver infections, such as hepatitis
                        </p>
                        <p>
                            <i class="fa fa-plus-square"></i> Monitor the progression of a disease
                        </p>
                        <p>
                            <i class="fa fa-plus-square"></i> Measure the severity of a disease
                        </p>
                        <p>
                            <i class="fa fa-plus-square"></i> Monitor possible side effects of medications
                        </p>
                    </div>
                </div>
            </div>

        </div>
        </div>

        <%- include('./partials/vendorsBottom')%>
            <%-
    include('./partials/bookAppointment') %>
                <%- include('./partials/footer')%>
    </body>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>