<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/singleDiscussion.css" />
    <title><%= data.title %> | Telepsychiatry Research</title>
  </head>

  <body>
    <div class="wrapper">
      <nav>
        <%- include('./partials/navbar')%>
      </nav>
      <div class="my-3 divider"></div>
      <div class="singleDiscussion">
        <div class="singleDiscussion__info">
          <!-- <div class="singleDiscussion__follow">
          <button>Follow</button>
        </div> -->
          <div class="singleDiscussion__title">
            <p>
              <%= data.title %>
            </p>
          </div>
          <div class="singleDiscussion__nameTime">
            <div class="singleDiscussion__name">
              <p><i class="fa fa-user"></i>&nbsp;&nbsp;<%= data.username %></p>
            </div>
            <div class="singleDiscussion__time">
              <p>
                <i
                  class="fa fa-clock-o"
                  aria-hidden="true"
                  style="font-size: 18px"
                ></i>
                <%= data.createdAt.toLocaleString() %>
              </p>
            </div>
          </div>

          <div class="singleDiscussion__desc">
            <p>
              <%- data.description %>
            </p>
          </div>
          <div class="singleDiscussion__react_love">
            <p>
              <input type="hidden" value="<%= data._id %>" />
              <i class="fa fa-heart"></i>&nbsp; 12
            </p>
          </div>
        </div>
        <div class="singleDescription_comments">
          <div class="giveComment">
            <div class="giveComment__image">
              <img src="/images/userr.jpg" alt="user image" />
            </div>
            <div class="giveComment__SendComment">
              <div class="sendComment__textarea">
                <textarea name="comment" id="commentID" rows="6"></textarea>
              </div>
              <div class="sendComment__buttons">
                <input type="hidden" value="<%= data._id %>" />
                <button class="postCommentBtn">Post Comment</button>
              </div>
            </div>
          </div>

          <div class="allComments">
            <% for(let i = 0 ; i < 3; i++) { %>
            <div class="eachComment">
              <div class="user_image">
                <img src="/images/userr.jpg" alt="user image" />
              </div>
              <div class="user_comment_info">
                <div class="user_name">MD. Sakib Khan</div>
                <div class="commentbody">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Fugit, architecto laborum dicta, incidunt ullam quidem alias
                  qui aut culpa, quo consectetur deleniti. Ut, quidem
                  perspiciatis! Aliquid quasi sed rem earum!
                </div>
                <div class="like_reply_time">
                  <div class="like">Like</div>
                  <div class="time">1m</div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('./partials/vendorsBottom')%>
  <script>
    $('.fa-heart').click(e => {
      $.ajax({
        type: 'POST',
        url: '/forum/react',
        data: {
          id: e.target.previousElementSibling.value
        },
        success: () => {
          console.log('successful on sending react');
        },
        error: () => {
          console.log('error on sending react');
        }
      });
    });
    $('.cancelCommentBtn').click(e => {
      $('#commentID').val('');
    });
    $('.postCommentBtn').click(e => {
      if ($('#commentID').val().length == 0) {
        return;
      }
      $.ajax({
        type: 'POST',
        url: '/forum/comment',
        data: {
          id: e.target.previousElementSibling.value,
          comment: $('#commentID').val()
        },
        success: () => {
          console.log('successful on sending react');
        },
        error: () => {
          console.log('error on sending react');
        }
      });
      location = '/forum/' + e.target.previousElementSibling.value;
    });
  </script>
</html>
