<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/vendorsTop')%>
  <link rel="stylesheet" href="/css/specialServiceDetails.css" />  
  <title>
    Special Services | Innovations | Telepsychiatry Research
  </title>
</head>

<body>
  <section class="wrapper">
    <nav>
      <%- include('./partials/navbar')%>
    </nav>
    <div class="assessment_wrapper">
      <div class="blueDivider">
        <div class="smallText">
          <p><a href="/">Home</a> / Services</p>
        </div>
        <div class="bigText">
          <p><%= data.title %></p>
        </div>
      </div>
      <div class="btn-container">
        <div class="btn-children">
          <button data-target="#parts" data-toggle="modal" class="btn btn-secondary" >Show Patients</button>
          <button type="button" class="btn btn-success" onclick="location.href='/admin/specialService/update/<%= serviceId %>';">Update</button>
          <button type="button" class="btn btn-danger" onclick="location.href='/admin/specialService/delete/<%= serviceId %>';">Delete</button>
        </div>        
      </div>
      <div class="twoBigSectionFlex">
        <div class="oneBigFatCat_wrapper">
          <div class="oneBigFatCat">
            <div class="main-Heading">
              <p><%= data.title %></p>
            </div>
            <div class="specialServiceSubsection">
              <div class="subsection-Heading">
                <p>ABOUT</p>
              </div>
              <div class="subsection-Body">
                <p>
                  <%- data.description %>
                </p>
              </div>
              <button type="button" class="btn btn-danger">
                Book Appointment
              </button>
            </div>

            <div class="flx_super_prnt">
              <% if (data.videos.length != 0) { %>
              <div class="specialServiceSubsection">
                <div class="subsection-Body">
                  <div class="subsection-Heading">
                    <p>Related Videos</p>
                  </div>
                  <% for (let i=0; i<data.videos.length; i+=2) { %>
                  <div class="flx_prnt">
                    <% for (let j=i; j<Math.min(data.videos.length, i+2); j++) { %>
                    <div class="flx_chld">
                      <iframe width="300" height="200" src="<%= data.videos[i] %>" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                    <% } %>
                  </div>
                  <% } %>
                </div>
              </div>
              <% } %> 

              <div class="flx-chld-feeds">
                <div class="feedback-Heading">
                    <p>User Feedback</p>
                </div>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="single-feedback">
                        <iframe  src="https://www.youtube.com/embed/Xh0bdzeAZ1w" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>                     
                        <div class="txt-cmnt">  
                          <p>"Their service was great"</p>
                           <p>-Hussain Safwan</p>
                        </div>
                        
                      </div>             
                    </div>
                    <div class="carousel-item">
                      <div class="single-feedback">
                        <iframe  src="https://www.youtube.com/embed/Xh0bdzeAZ1w" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>                     
                        <div class="txt-cmnt">  
                          <p>"Their service was great"</p>
                          <p>-Hussain Safwan</p>      
                        </div>
                      </div> 
                    </div>
                    <div class="carousel-item">
                      <div class="single-feedback">
                        <iframe  src="https://www.youtube.com/embed/Xh0bdzeAZ1w" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>                     
                        <div class="txt-cmnt">  
                          <p>"Their service was great"</p>
                          <p>-Hussain Safwan</p>  
                        </div>
                      </div> 
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>            
                        

            <div class="specialServiceSubsection">
              <div class="subsection-Heading">
                <p>Our Doctors</p>
              </div>
              <div class="subsection-Body specialServiceDoctors">

                <% for(let i = 0 ; i < data.doctorIDs.length; i++) { %>
                <div class="eachDoctor">
                  <div class="es_img">
                    <img src="/images/experts/<%=doctorInfo[i].propicURL%>.jpg" alt="" />
                  </div>
                  <div class="es_name">
                    <p><%=data.doctorNames[i]%></p>
                    <p>
                      <span><%=doctorInfo[i].designation%></span>
                    </p>
                  </div>
                </div>
                <% } %>
              </div>
            </div>

            <div class="specialServiceSubsection">
              <div class="subsection-Heading">
                <p>Service Details</p>
              </div>
              <div class="subsection-Body">
                <%- data.details%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('./partials/footer')%>

<div class="modal fade" id="parts" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">
                        Patients 
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="parts">
                        <% for (let i=0; i<parts.length; i++) { %>
                        <div class="each-part">
                            <a href="/services/doctor/profile/<%=parts[i].patient_id%>"> <i class="fa fa-user"></i>
                                <%= parts[i].name %>
                            </a>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>
<%- include('./partials/vendorsBottom')%>
