<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/vendorsTop')%>

  <link rel="stylesheet" href="/css/admin.css" />
  <title>Innovation</title>
</head>
<style>
  a {
    color: #20c0f3;
  }
</style>

<body>
  <section class="adminTest" style="min-height: 100vh; background: #ebebeb;">
    <header>
      <nav>
        <%- include('./partials/navbar.ejs')%>
      </nav>
      <div class="blueDivider">
        <div class="smallText">
          <p>Home/Innovation</p>
        </div>
        <div class="bigText">
          <p>
            <%= data.title %>
          </p>
        </div>
      </div>
    </header>
    <div class="twoBigSectionFlex">
      <div class="oneBigFatCat_wrapper">
        <div class="oneBigFatCat">
          <% if(user && user._id.toString().trim() ===
            data.authorID.toString().trim()) { %>
          <div class="updateBtn text-right">
            <button id="<%= data._id %>" class="btn btn-success btn-lg px-4">
              Update
            </button>
          </div>
          <% } %>
          <div class="contentTitle">
            <p>
              <%= data.title %>
            </p>
          </div>
          <div class="contentDescription">
            <p>
              <%- data.description %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('./partials/footer')%>
</body>
<%- include('./partials/vendorsBottom')%>
<script>
  $('button').click((e) => {
    const id = e.target.id;
    location = '/admin/research/update/' + id;
  });
  $('.additionalFileName').click((e) => {
    location = '/innovation/download/' + $('#file-link').val();
  });
  $('.updateBtn button').click((e) => {
    location = '/innovations/update/' + e.target.id;
  });
</script>

</html>