<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link rel="stylesheet" href="/css/specialServiceDetails.css" />

    <title>
      Assessment | Innovations | Telepsychiatry Research
    </title>
  </head>

  <body>
    <section class="wrapper">
      <nav>
        <%- include('./partials/navbar')%>
      </nav>
      <div class="assessment_wrapper">
        <div class="blueDivider">
          <div class="smallText">
            <p><a href="/">Home</a> / Services</p>
          </div>
          <div class="bigText">
            <p>Pain Management Center</p>
          </div>
        </div>

        <div class="twoBigSectionFlex">
          <div class="oneBigFatCat_wrapper">
            <div class="oneBigFatCat">
              <div class="main-Heading">
                <p>Pain Management Center</p>
              </div>
              <div class="specialServiceSubsection">
                <div class="subsection-Heading">
                  <p>ABOUT</p>
                </div>
                <div class="subsection-Body">
                  <p>
                    The Pain Management Center at Stanford Health Care offers a
                    comprehensive range of services for patients with acute or
                    chronic pain. Through the combined expertise of a
                    multidisciplinary team of pain specialists, Stanford offers
                    the most advanced treatment options currently available, in
                    a supportive, compassionate environment. The Pain Management
                    Center at Stanford Health Care offers a comprehensive range
                    of services for patients with acute or chronic pain. Through
                    the combined expertise of a multidisciplinary team of pain
                    specialists, Stanford offers the most advanced treatment
                    options currently available, in a supportive, compassionate
                    environment. The Pain Management Center at Stanford Health
                    Care offers a comprehensive range of services for patients
                    with acute or chronic pain. Through the combined expertise
                    of a multidisciplinary team of pain specialists, Stanford
                    offers the most advanced treatment options currently
                    available, in a supportive, compassionate environment. The
                    Pain Management Center at Stanford Health Care offers a
                    comprehensive range of services for patients with acute or
                    chronic pain. Through the combined expertise of a
                    multidisciplinary team of pain specialists, Stanford offers
                    the most advanced treatment options currently available, in
                    a supportive, compassionate environment.
                  </p>
                </div>
                <button type="button" class="btn btn-danger">
                  Book Appointment
                </button>
              </div>
              <div class="specialServiceSubsection">
                <div class="subsection-Body">
                  <div class="subsection-Heading">
                    <p>Related Videos</p>
                  </div>
                  <div class="flx_prnt">
                    <div class="flx_chld">
                      <iframe
                        src="https://www.youtube.com/embed/lS5NTF65ve4"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                      ></iframe>
                    </div>
                    <div class="flx_chld">
                      <iframe
                        src="https://www.youtube.com/embed/lS5NTF65ve4"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                      ></iframe>
                    </div>
                    <div class="flx_chld">
                      <iframe
                        src="https://www.youtube.com/embed/lS5NTF65ve4"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                </div>
              </div>

              <div class="specialServiceSubsection">
                <div class="subsection-Heading">
                  <p>Our Doctors</p>
                </div>
                <div class="subsection-Body specialServiceDoctors">
                  <% console.log(ourExperts) %> <% for(let i = 0 ; i < 4; i++) {
                  %>
                  <div class="eachDoctor">
                    <div class="es_img">
                      <img
                        src="/images/experts/<%=ourExperts[i].url%>.jpg"
                        alt=""
                      />
                    </div>
                    <div class="es_name">
                      <p><%=ourExperts[i].name%></p>
                      <p>
                        <span><%=ourExperts[i].designation%></span>
                      </p>
                    </div>
                  </div>
                  <% } %>
                </div>
                <div class="subsection-Body specialServiceDoctors">
                  <% console.log(ourExperts) %> <% for(let i = 4 ; i < 6; i++) {
                  %>
                  <div class="eachDoctor">
                    <div class="es_img">
                      <img
                        src="/images/experts/<%=ourExperts[i].url%>.jpg"
                        alt=""
                      />
                    </div>
                    <div class="es_name">
                      <p><%=ourExperts[i].name%></p>
                      <p>
                        <span><%=ourExperts[i].designation%></span>
                      </p>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>

              <div class="specialServiceSubsection">
                <div class="subsection-Heading">
                  <p>Service Details</p>
                </div>
                <div class="subsection-Body">
                  <p>
                    The Pain Management Center at Stanford Health Care offers a
                    comprehensive range of services for patients with acute or
                    chronic pain. Through the combined expertise of a
                    multidisciplinary team of pain specialists, Stanford offers
                    the most advanced treatment options currently available, in
                    a supportive, compassionate environment. The Pain Management
                    Center at Stanford Health Care offers a comprehensive range
                    of services for patients with acute or chronic pain. Through
                    the combined expertise of a multidisciplinary team of pain
                    specialists, Stanford offers the most advanced treatment
                    options currently available, in a supportive, compassionate
                    environment. The Pain Management Center at Stanford Health
                    Care offers a comprehensive range of services for patients
                    with acute or chronic pain. Through the combined expertise
                    of a multidisciplinary team of pain specialists, Stanford
                    offers the most advanced treatment options currently
                    available, in a supportive, compassionate environment. The
                    Pain Management Center at Stanford Health Care offers a
                    comprehensive range of services for patients with acute or
                    chronic pain. Through the combined expertise of a
                    multidisciplinary team of pain specialists, Stanford offers
                    the most advanced treatment options currently available, in
                    a supportive, compassionate environment.
                  </p>
                  <div class="subsection-Body-elm">
                    <div class="subsection-Heading-elm">
                      <p>Service 1</p>
                    </div>
                    <p>
                      The Pain Management Center at Stanford Health Care offers
                      a comprehensive range of services for patients with acute
                      or chronic pain. Through the combined expertise of a
                      multidisciplinary team of pain specialists, Stanford
                      offers the most advanced treatment options currently
                      available, in a supportive, compassionate environment. The
                      Pain Management Center at Stanford Health Care offers a
                      comprehensive range of services for patients with acute or
                      chronic pain. Through the combined expertise of a
                      multidisciplinary team of pain specialists, Stanford
                      offers the most advanced treatment options currently
                      available, in a supportive, compassionate environment.
                    </p>
                    <div class="subsection-Heading-elm">
                      <p>Service 2</p>
                    </div>
                    <p>
                      The Pain Management Center at Stanford Health Care offers
                      a comprehensive range of services for patients with acute
                      or chronic pain. Through the combined expertise of a
                      multidisciplinary team of pain specialists, Stanford
                      offers the most advanced treatment options currently
                      available, in a supportive, compassionate environment. The
                      Pain Management Center at Stanford Health Care offers a
                      comprehensive range of services for patients with acute or
                      chronic pain. Through the combined expertise of a
                      multidisciplinary team of pain specialists, Stanford
                      offers the most advanced treatment options currently
                      available, in a supportive, compassionate environment.
                    </p>
                    <div class="subsection-Heading-elm">
                      <p>Service 3</p>
                    </div>
                    <p>
                      The Pain Management Center at Stanford Health Care offers
                      a comprehensive range of services for patients with acute
                      or chronic pain. Through the combined expertise of a
                      multidisciplinary team of pain specialists, Stanford
                      offers the most advanced treatment options currently
                      available, in a supportive, compassionate environment. The
                      Pain Management Center at Stanford Health Care offers a
                      comprehensive range of services for patients with acute or
                      chronic pain. Through the combined expertise of a
                      multidisciplinary team of pain specialists, Stanford
                      offers the most advanced treatment options currently
                      available, in a supportive, compassionate environment.
                    </p>
                  </div>
                </div>
                <div class="subsection-Heading">
                  <p>Uniqueness</p>
                </div>
                <div class="subsection-Body">
                  <p>
                    The Pain Management Center at Stanford Health Care offers a
                    comprehensive range of services for patients with acute or
                    chronic pain. Through the combined expertise of a
                    multidisciplinary team of pain specialists, Stanford offers
                    the most advanced treatment options currently available, in
                    a supportive, compassionate environment. The Pain Management
                    Center at Stanford Health Care offers a comprehensive range
                    of services for patients with acute or chronic pain. Through
                    the combined expertise of a multidisciplinary team of pain
                    specialists, Stanford offers the most advanced treatment
                    options currently available, in a supportive, compassionate
                    environment. The Pain Management Center at Stanford Health
                    Care offers a comprehensive range of services for patients
                    with acute or chronic pain. Through the combined expertise
                    of a multidisciplinary team of pain specialists, Stanford
                    offers the most advanced treatment options currently
                    available, in a supportive, compassionate environment. The
                    Pain Management Center at Stanford Health Care offers a
                    comprehensive range of services for patients with acute or
                    chronic pain. Through the combined expertise of a
                    multidisciplinary team of pain specialists, Stanford offers
                    the most advanced treatment options currently available, in
                    a supportive, compassionate environment.
                  </p>
                </div>
                <div class="subsection-Heading">
                  <p>Service Cost</p>
                </div>
                <div class="subsection-Body">                  
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Service Name</th>
                        <th scope="col">For</th>
                        <th scope="col">Cost</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>X-ray Package</td>
                        <td>Chest X-ray</td>
                        <td>200tk</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>X-ray Package</td>
                        <td>Chest X-ray</td>
                        <td>200tk</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>X-ray Package</td>
                        <td>Chest X-ray</td>
                        <td>200tk</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer')%>
  </body>
  <%- include('./partials/vendorsBottom')%>
</html>
