<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/vendorsTop')%>
  <link rel="stylesheet" href="/css/specialServices.css" />

  <title>
    Special Services | Innovations | Telepsychiatry Research
  </title>
</head>

<body>
  <section class="wrapper">
    <nav>
      <%- include('./partials/navbar')%>
    </nav>
    <div class="sp_wrapper">
      <div class="globalBlueDivider">
        <div class="smallText">
          <p><a href="/">Home</a> / Special services</p>
        </div>
        <div class="bigText">
          <p>Our Special Services</p>
        </div>
      </div>
      <div class="allSpecialServices_wrapper">
        <div class="specialHeading">
          <p>Our Special Services</p>
        </div>
        <div class="specialSubHeading">
          <p>
            Click on each services to see more info and timetable
          </p>
        </div>

        <p style="color: #666; padding: 30px; width: 80%; margin: auto;">
          We offer multi-disciplinary, super-specialized care for our clients in different chronic distressing
          conditions
          involving multiple experts covering relevant areas and ensuring the follow up care.
        </p>

        <div class="allSpecialServices">
          <!-- 1. -->

          <% for (let i=0; i<data.length; i++) { %>
          <div class="eachServices">
            <div class="es_img">
              <img src="/specialService/<%=data[i].image%>" alt="" />
            </div>
            <div class="es_name">
              <p><a href="/services/special_services/<%=data[i]._id%>"><%=data[i].title%></a></p>
              <p><span>Clinical Treatment</span></p>
            </div>
          </div>
          <% } %>

        </div>
      </div>
    </div>
  </section>
  <%- include('./partials/footer')%>
</body>
<%- include('./partials/vendorsBottom')%>

</html>