<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/vendorsTop')%>
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <link rel="stylesheet" href="/css/reg_exp_users_update.css" />

    <title>Update | Expert User | Telepsychiatry Research</title>
  </head>

  <body>
    <% let days = ['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday',
    'Thursday', 'Friday'] %> <% const yr = (new Date(Date.now())).getFullYear();
    %>
    <section class="admin_addDoctor_wrapper" style="background-color: #ebebeb;">
      <nav>
        <%- include('./partials/navbar')%>
      </nav>
      <div class="blueDivider">
        <div class="smallText">
          <p><a href="#">Authentication</a> / Update</p>
        </div>
        <div class="bigText">
          <p>Update Profile</p>
        </div>
      </div>
      <div class="twoBigSectionFlex">
        <div class="eachBigSection">
          <div class="threeBtn editProfileCls">
            <button>Edit Profile</button>
          </div>
          <div class="threeBtn changePassword">
            <button>Change Password</button>
          </div>
          <div class="threeBtn changeProfilePicture">
            <button>Change Display Picture</button>
          </div>
        </div>
        <div class="eachBigSection">
          <div class="doMagicWrapper">
            <div class="doMagic">
              <div class="createResources addDoctor pb-5">
                <form
                  action="/auth/register/new/exp/file"
                  method="POST"
                  enctype="multipart/form-data"
                  id="DocRegform"
                >
                  <input type="hidden" name="filename" id="filename" />
                  <div class="container">
                    <div id="alert" class="alert alert-danger"></div>
                    <% if (errorMessage != '') { %>
                    <div id="alert" class="alert alert-danger">
                      <%= errorMessage %>
                    </div>
                    <% } %>
                    <div class="header addDoctor__header">
                      <p id="submitResources">Update Password</p>
                    </div>
                    <div class="updatePasswordForm">
                      <div class="input_div">
                        <div class="two_box_header form-header">
                          <p>Current Password</p>
                        </div>
                        <input
                          type="text"
                          name="cPassword"
                          placeholder="Current Password"
                          class="cPassword"
                          id="cPassword"
                        />
                      </div>
                      <div class="input_div">
                        <div class="two_box_header form-header">
                          <p>New Password</p>
                        </div>
                        <input
                          type="text"
                          name="nPassword"
                          placeholder="New Password"
                          class="nPassword"
                          id="nPassword"
                        />
                      </div>
                      <div class="input_div">
                        <div class="two_box_header form-header">
                          <p>Confirm New Password</p>
                        </div>
                        <input
                          type="text"
                          name="cnPassword"
                          placeholder="Confirm New Password"
                          class="cnPassword"
                          id="cnPassword"
                        />
                      </div>
                      <div class="addDoctor__submit">
                        <button id="sub-btn" type="submit">Update</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer')%>
  </body>
  <%- include('./partials/vendorsBottom')%>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
  ></script>

  <script>
    $('.editProfileCls').on('click', (e) => {
      location = '/auth/update/exp/profile';
    });

    $('.changePassword').on('click', (e) => {
      location = '/auth/update/exp/password';
    });

    $('.changeProfilePicture').on('click', (e) => {
      location = '/auth/update/exp/profilePicture';
    });
  </script>
</html>
